body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../_images/admin_bg.jpg) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #888;
}
h2.MWxBox{font-family:Arial, Verdana, Helvetica, sans-serif; font-size:18px; color:#ccc; margin:0px 0px -16px 0px;}
.ATLogin{background:url(../_images/logintextfield_bg.jpg) repeat-x; border:1px solid #666; font-size:17px; padding:2px;margin:6px 0px 6px 0px; color:#969696; width:400px;}
.loginbutton{width:171px; height:48px; background:url(../_images/login_tabs.jpg) no-repeat 0 -5px; border:0px; margin:0px; padding:0 0 6px 0; font-size:16px; font-family:Arial, Verdana; color:#fff; cursor:pointer; font-weight:bold;}
.loginbutton:hover {background: transparent url(../_images/login_tabs.jpg) no-repeat 0 -61px;color:#fff;}
form{margin:0px; padding:0px;}
img{border:0;}
a{outline:none;}
object{ outline:none;}

#container{margin:0px auto; width:456px; min-height:400px;}
#logotop{width:225px; height:78px; background:url(../_images/admin_logo_login.png) no-repeat; margin:38px auto 0px auto;}
#boxtop{width:456px; height:15px; background:url(../_images/loginbox_top.jpg) no-repeat; margin:62px 0px 0px 0px;}
#boxcontent{width:410px; background:url(../_images/loginbox_mid.jpg) repeat-y; padding:5px 20px 0px 26px; font-size:11px;}
#boxbtm{width:456px; height:14px; background:url(../_images/loginbox_btm.jpg) no-repeat;}