body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #888;
}
body {
	background-color: #FFF;
	background-image: url(../_images/sky_bgmain.jpg);
	background-repeat: repeat-x;
	margin:0px;
}
a#generatemap{font-size:24px; color:#959595;}
a#generatemap:hover {
	text-decoration: none;
	color: #6fa7d1;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #6fa7d1;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #6fa7d1;
}
a:hover {
	text-decoration: underline;
	color: #6fa7d1;
}
a:active {
	text-decoration: none;
	color: #6fa7d1;
}

#container{width:990px; min-height:200px; margin:0px auto; position:relative; z-index:3;}
#header{width:984px; height:155px; margin:0px auto; position:relative;}
#flash_float{
	width:230px;
	height:150px;
	position:absolute;
	left:326px;
	top:13px;
}

#mainlogo{width:109px; height:167px; float:left; margin:-3px 0px 0px 10px;}
#loggedinbox{width:282px; height:48px; float:right; margin:-3px 4px 0px 0px; background:url(../_images/loggedin_box.png) no-repeat; padding:12px 0px 0px 18px; font-size:11px; font-weight:bold;}
#loggedinbox a{font-size:11px;}
#loginbox{width:274px; height:142px; z-index:4; position:absolute; top:64px; right:8px; display:none; background:#FFF; margin:0px 14px 0px 0px; border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; padding:10px 0px 0px 10px;}
#settingsbox{width:147px; min-height:50px; z-index:4; position:absolute; top:64px; right:8px; display:none; background:#FFF; margin:0px 14px 0px 0px; border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; padding:10px 0px 0px 10px;}
.textfield_invite{-moz-border-radius: 3px 3px 3px 3px; background: none repeat scroll 0 0 #E7E5E5; border: 1px solid #BEBEBE; color: #444444; height: 20px; width:240px;}

.failLogin{position:absolute; width:180px; height:20px; top:138px; right:32px; text-align:right; color:#b91f1f; font-weight:bold; font-size:12px;}
.forgPass{position:absolute; width:180px; height:20px; top:112px; right:28px; text-align:right;}

#closeBtnForgot{position:absolute; width:13px; height:13px; top:12px; right:14px; text-align:right;}
#closeBtnLogin{position:absolute; width:13px; height:13px; top:8px; right:14px; text-align:right;}
#closeBtnLogin a, #closeBtnForgot a {display:block; background:url(../_images/close_button.gif) no-repeat; width:13px; height:13px;}

.forgPass a{font-size:12px; font-weight:bold;}

#menu_holder{
	width:520px;
	height:36px;
	margin:0px 0px 0px 0px;
	position:absolute;
	top:12px;
	left:134px;
}
#lang_select{
	min-width:118px;
	height:36px;
	margin:0px 0px 0px 0px;
	line-height:33px;
	position:absolute;
	top:13px;
	left:0px;
	text-align:right;
	z-index:99998;
	cursor:pointer;
}

#settingsFloat{float:right; height:18px; width:68px; color:#FFF; margin:6px 0px 0px 0px; text-align:right; padding:0px 12px 0px 0px; background:url(../_images/down_arrow_mini.png) no-repeat 73px 8px;}
#loginFloat{float:right; height:22px; width:88px; line-height:20px; cursor:pointer; color:#FFF; margin:0px 0px 0px 0px; text-align:center; padding:0px 0px 0px 0px; background:url(../_images/login_tab.png) no-repeat;}
#keepSessionAliveDiv.unchecked{z-index:2; position:absolute; top:156px; font-size:11px; font-weight:bold; right:60px; height:23px; width:114px; line-height:21px; cursor:pointer; color:#FFF; margin:4px 0px 0px 0px; text-align:center; padding:0px 0px 0px 0px; background:url(/_accounts/_saviio/_images/keepalive_sprite.png) no-repeat scroll 0 0px;}
#keepSessionAliveDiv.unchecked:hover{z-index:2; position:absolute; top:156px; font-size:11px; font-weight:bold; right:60px; height:23px; width:114px; line-height:21px; cursor:pointer; color:#FFF; margin:4px 0px 0px 0px; text-align:center; padding:0px 0px 0px 0px; background:url(/_accounts/_saviio/_images/keepalive_sprite.png) no-repeat scroll 0 -25px;}
#keepSessionAliveDiv.checked{z-index:2; position:absolute; top:156px; font-weight:bold; font-size:11px; right:60px; height:23px; width:114px; line-height:21px; cursor:pointer; color:#FFF; margin:4px 0px 0px 0px; text-align:center; padding:0px 0px 0px 0px; background:url(/_accounts/_saviio/_images/keepalive_sprite.png) no-repeat scroll 0 -25px;}
#keepSessionAliveDiv.checked:hover{z-index:2; position:absolute; top:156px; font-weight:bold; right:60px; font-size:11px; height:23px; width:114px; line-height:21px; cursor:pointer; color:#FFF; margin:4px 0px 0px 0px; text-align:center; padding:0px 0px 0px 0px; background:url(/_accounts/_saviio/_images/keepalive_sprite.png) no-repeat scroll 0 0px;}
#keepSessionAliveDiv #keepSessionAlive{display: none;}
#helpFloat{z-index:2; position:absolute; top:156px; font-weight:bold; right:3px; height:23px; width:54px; line-height:21px; cursor:pointer; color:#FFF; margin:4px 0px 0px 0px; text-align:center; padding:0px 0px 0px 0px; background:url(../_images/help_tab.png) no-repeat;}
#helpFloat a{color:#FFF;}
#helpFloat a:hover{color:#FFF; text-decoration:none;}
#rightLangSettingsBar{position:absolute; width: 240px; height:44px; top: 6px; right: 24px; color:#FFF; font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif; font-size:90%;}
#rightLangSettingsBar a{font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif; font-size:11px; color:#fff;}
#content_top{width:990px; height:69px; background:url(../_images/content_topbtm_sprite.png) no-repeat 0px 0px; float:left;}
#content_mid{width:936px; min-height:300px; background:url(../_images/content_mid.jpg) repeat-y; float:left; padding:0px 30px 0px 24px;}
#content_btm{width:990px; height:68px; background:url(../_images/content_topbtm_sprite.png) no-repeat 0px -69px; float:left;}

.cleaner{clear:both;page-break-after:auto;}

.savmenu {margin:0px; padding:0px; list-style:none; width:520px;}
.savmenu li {display:inline; float:left; background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -114px; margin:0px 4px 0px 0px; height:32px;}
.savmenu li a {display:block; height:32px; float:left; background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -82px; text-decoration:none; font-size:100%; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif; line-height:30px;}
.savmenu li a b {margin:0px; width:112px; text-align:center; display:inline; float:left; height:32px; background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -82px; padding:0px; color:#fff;}
.savmenu li a:hover, .savmenu li a:hover b {border:0; background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -114px; cursor:pointer; color:#FFFFFF; text-decoration:none;}
.savmenu li a.current, .savmenu li a.current b, .savmenu li a.current:hover , .savmenu li a.current:hover b {background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -114px; color:#FFFFFF; cursor:default;}

.settingsMenu {margin:0px; padding:0px; list-style:none; width:236px;}
.settingsMenu li {display:inline; float:left; background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -114px; margin:0px 4px 0px 0px; height:32px;}
.settingsMenu li a {display:block; height:32px; float:left; background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -82px; text-decoration:none; font-size:100%; font-family:Arial,Helvetica,sans-serif; line-height:30px;}
.settingsMenu li a b {margin:0px; width:112px; text-align:center; display:inline; float:left; height:32px; background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -82px; padding:0px; color:#fff;}
.settingsMenu li a:hover, .settingsMenu li a:hover b {border:0; background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -114px; cursor:pointer; color:#FFFFFF; text-decoration:none;}
.settingsMenu li a.current, .settingsMenu li a.current b, .settingsMenu li a.current:hover , .settingsMenu li a.current:hover b {background:url(../_images/_menu/menu_sprite.png) no-repeat 0px -114px; color:#FFFFFF; cursor:default;}


/****** SIFR STYLES *******/
h1, h2, h3{color: #979696;
	font-family: arial,verdana,sans-serif;
	font-size:24px;
	line-height: 110%;
	padding: 0;
	margin:0px;
	font-weight:normal;
}
h2.MWxMedium{color:#6ea8d9;font-size:20px;}
h2.MWxBox{font-size:22px; color:#a2a2a2;}
h2.MWxLink{font-size:14px; color:#bdd63a;}
h3.MWxLeft{font-size:14px; color:#6ea8d9; font-weight:bold; margin:1px 0px 3px 0px;}
h3.MWxTitle{font-size:12px; color:#888888;}
h3.MWxLogin{font-size:18px; color:#888888; margin:3px 0px 3px 0px;}

img{border:0;}
a{outline:none;}
object{ outline:none;}

#maincontent{float:left; padding:0px 20px 0px 16px; width:904px; position:relative;}
#left_response{float:left; width:210px; min-height:100px; _height:100px; margin:10px 62px 0px 40px; background:url(../_images/_survey/leftLegend.jpg) top right no-repeat; padding:0px 26px 0px 0px;}
#right_response{float:right; width:210px; min-height:100px; _height:100px; margin:10px 40px 0px 62px; text-align:right; background:url(../_images/_survey/rightLegend.jpg) top left no-repeat; padding:0px 0px 0px 26px;}/*was 184*/
#nextqholder{float:right; width:145px; height:43px; padding:20px 16px 0px 0px;}
#nextbutton{width:145px; height:31px; background:url(../_images/button_bg.jpg) no-repeat; height:46px; padding:6px 0px 0px 24px; line-height:20px;}
#nextbutton a, #nextbutton a:hover {font-size:15px; display:block; width:145px; height:30px; text-decoration:none; font-weight:bold;}
#questionnum{font-weight:bold;font-size:120%;width:911px; height:30px; float:left; margin-left:40px;}
#QoutOf{float:left; width:58px; text-align:right;}
#survey_container{float:left;}
#completed_survey{float:left; padding:0px 0px 0px 40px;}

#titlefloat{float:left; width:520px; height:80px;}
#headersq{float:left; width:100px; height:80px;}
#titletextfloat{float:left; width:400px; height:60px; padding:12px 0px 0px 0px;}
#mapinfofloat{float:left; width:292px; min-height:300px; position:relative;}
#mapholder{float:left; width:612px;}
#leftresultbox{position:absolute; width:271px; min-height:200px; top:22px; left:23px; display:none;}
#leftboxtop{float:left; width:271px; height:11px; background:url(../_images/_map/leftbox_top.jpg) no-repeat;}
#leftboxmid{float:left; width:259px; background:url(../_images/_map/leftbox_mid.jpg) repeat-y; min-height:200px; padding:2px 0px 0px 12px;}
#leftboxbtm{float:left; width:271px; height:19px; background:url(../_images/_map/leftbox_btm.jpg) no-repeat;}

#resultsinfo{width:204px; float:left; padding:0px 0px 0px 5px; height:30px;}
#resultshelp{width:30px; float:right; padding:0px 8px 0px 0px; height:30px;}
#leftresultsname{width:240px; text-align:center; font-size:12px; line-height:22px; font-weight:bold;}
#rightresultsname{width:240px; text-align:center; font-size:12px; line-height:22px; font-weight:bold;}
#vsbox{width:30px; margin:0px auto;}
#scoreicon{width:240px; height:30px; text-align:center; margin:0px 0px 8px 0px;}
#benchicon{width:240px; height:30px; text-align:center;}
#exportreport{width:240px; padding:0px 0px 0px 5px; margin:15px 0px 0px 0px;}

/******SORTABLE STYLE********/

#rightsortbox{position:absolute; top:78px; right:22px; width:325px; height:112px; padding-left:14px; margin-left:10px; z-index:1;}
#leftsortbox{position:absolute; top:78px; left:4px; width:325px; height:112px; padding-left:20px; z-index:1;}
#leftsort{width:400px;}
#rightsort{width:400px;}
#OboxTop{float:left; width:881px; height:26px; background:url(../_images/_map/optionsbox_top.jpg) no-repeat; margin:20px 0px 0px 0px; position:relative; text-align:right; padding:10px 14px 0px 0px;}
#OboxContent{float:left; width:887px; height:216px; background:url(../_images/_map/optionsbox_mid.jpg) repeat-y; position:relative;padding:0px 0px 0px 8px;}
#Oboxbtm{float:left; width:895px; height:13px; background:url(../_images/_map/optionsbox_btm.jpg) no-repeat;}
#OboxGen{float:left; width:895px; height:44px; margin:0px 0px 28px 0px;}
#genMAPbox{width:332px; height:42px; margin:0px auto; padding:2px 0px 0px 0px; background:url(../_images/_map/optionsbox_generate.jpg) no-repeat; text-align:center; font-weight:bold;}

#MAPSelectTextR{float:left; width:418px; height:21px; border:none; padding:9px 22px 0px 0px; margin:4px 0px 0px 0px; text-align:right; position:relative; z-index:99999;}
#MAPSelectTextL{float:left; width:422px; height:21px; border:none; padding:9px 0px 0px 18px; margin:4px 0px 0px 0px; position:relative; z-index:99999;}

#MAPTextHeaderR{float:right; width:330px; height:21px; border:none; padding:6px 22px 0px 0px; margin:0px 0px 5px 0px; text-align:right; position:relative; z-index:99996; font-family: "myriad-pro-1", arial, san-serif; color:#676767; font-size:21px;}
#MAPTextHeaderL{float:left; width:330px; height:21px; border:none; padding:6px 0px 0px 18px; margin:0px 0px 5px 0px; position:relative; z-index:99996; font-family: "myriad-pro-1", arial, san-serif; color:#676767; font-size:21px;}

#leftMAPselectABS{position:absolute; width:155px; height:20px; top:8px; left:174px; z-index:99;}
#rightMAPselectABS{position:absolute; width:155px; height:20px; top:8px; right:168px;}
#leftMAPheader{position:absolute; width:83px; height:68px; top:-16px; left:330px; z-index:100;}
#rightMAPheader{position:absolute; width:83px; height:68px; top:-16px; right:344px; z-index:100;}

.leftfactor{float:left; width:150px; margin:32px 0px 0px 0px;cursor:pointer; font-weight:bold; background:#FFF;}
.slider_con{float:left; position:relative; padding:20px 0px 20px 0px; width:180px; height:33px;}
.scorerange{position:absolute; height:10px; background:url(../_images/_map/score_range.png) repeat-x; z-index:998; top:12px;}
.benchrange{position:absolute; height:10px; background:url(../_images/_map/bench_range.png) repeat-x; top:58px;}

.rightfactor{float:left; width:134px; margin:32px 0px 0px 20px;cursor:pointer; font-weight:bold; background:#FFF;}
.factorscore{float:left; width:51px; height:34px; padding:0px 0px 0px 0px; text-align:center; line-height:32px; margin:24px 0px 0px 0px; background:url(../_images/_map/result_matchscore_bg.jpg) no-repeat;}

.fs_green{color:#0a9e2c; font-weight:bold; font-size:14px;}
.fs_blue{color:#3b80b9; font-weight:bold; font-size:14px;}
.fs_orange{color:#e7970e; font-weight:bold; font-size:14px;}
.fs_red{color:#eb3c3c; font-weight:bold; font-size:14px;}

.inner_cluster{float:left;}
.statementHolder{float:left;display:none;}

.rankgreen{width:79px; height:120px; position:absolute; bottom:8px; left:48px; z-index:1;background:url(../_images/_map/rankman_green.png) no-repeat;}
.rankblue{width:79px; height:120px; position:absolute; bottom:8px; left:48px; z-index:1;background:url(../_images/_map/rankman_blue.png) no-repeat;}
.rankorange{width:79px; height:120px; position:absolute; bottom:8px; left:48px; z-index:1;background:url(../_images/_map/rankman_orange.png) no-repeat;}
.rankred{width:79px; height:120px; position:absolute; bottom:8px; left:48px; z-index:1;background:url(../_images/_map/rankman_red.png) no-repeat;}

/****** SLIDER STYLES *******/

#slider{width:227px; height:87px; float:left;}
/*#slider .handleb{width:86px; height:43px; background:url(../_images/_survey/you_pointer.png) no-repeat; overflow: hidden; position: absolute; top: 56px; border:0px;}*/
#slider .handleb{width:64px; height:100px; background:url(../_images/_survey/you_pointer.png) no-repeat; overflow: hidden; position: absolute; top: 0px; border:0px;}
#slider .handlea{width:40px; height:30px; background:url(../_images/_menu/menu_on.jpg) no-repeat; overflow: hidden; position: absolute; top: 18px; border:0px; z-index:99999;}
/*.ui-slider .ui-slider-disabled > a {z-index:99999;}*/
.ui-widget-content#slider { background:url(../_images/_survey/map_slider_bg_new.jpg) no-repeat center center;border:0px;}

#sliders{width:580px; min-height:400px; _height:400px; float:left; margin-left:0px;}
#sliders p{color:#959595; text-align:center;}
#sliders .slideme{width:180px; float:left;}
#sliders .slideme .handle_red{width:26px; height:36px; background:url(../_images/_map/single_red.png) no-repeat; overflow: hidden; position: absolute; top: 2px; border:0px; z-index:9;}
#sliders .slideme .handle_blue{width:26px; height:36px; background:url(../_images/_map/single_blue.png) no-repeat; overflow: hidden; position: absolute; top: 2px; border:0px; z-index:9;}
#sliders .slideme .handle_yellow{width:26px; height:36px; background:url(../_images/_map/single_yellow.png) no-repeat; overflow: hidden; position: absolute; top: 2px; border:0px; z-index:9;}
#sliders .slideme .handle_green{width:26px; height:36px; background:url(../_images/_map/single_green.png) no-repeat; overflow: hidden; position: absolute; top: 2px; border:0px; z-index:9;}
#sliders .slideme .handle_bench{width:30px; height:30px; background:url(../_images/_map/bench_dude.png) no-repeat; overflow: hidden; position: absolute; top: 6px; border:0px; z-index:2;}

#sliders .slideme{ background:url(../_images/_map/surveybar_new.gif) no-repeat 2px 14px; border:0px;}

.resultslider{width:180px; height:33px; float:left;background:url(../_images/_map/surveybar_new.gif) no-repeat 2px 14px; }

img{border:none;}
#rankholder{float:left; width:800px; margin:0px 0px 30px 78px; height:200px; position:relative; display:none;}
#rankscroll{width:800px; height:200px;}
.rankmapholder{width:180px; height:180px; float:left; position:relative; margin:0px 12px 0px 0px; }
.rankcontainer{float:left; margin:14px 0px 20px 0px; width:226px;}
.rankselected{background:url(../_images/rank_selected.png) no-repeat 0px 0px;}
.RankMLink{display:block; width:180px; height:180px;}
.ranklink{width:180px; height:180px; position:absolute; top:0px; left:0px;z-index:80;}
.quadoverlay{width:180px; height:180px; position:absolute; top:0px; left:0px; background:url(../_images/_map/rank_quadoverlay.png) no-repeat; z-index:2;}
.tlscore{width:26px; height:28px; position:absolute; top:20px; left:20px; z-index:3; color:#FFFFFF; font-weight:bold; font-size:1em; line-height:28px; text-align:center;}
.trscore{width:26px; height:28px; position:absolute; top:20px; left:130px; z-index:3; color:#FFFFFF; font-weight:bold; font-size:1em; line-height:28px; text-align:center;}
.blscore{width:26px; height:28px;  position:absolute; top:127px; left:20px; z-index:3; color:#FFFFFF; font-weight:bold; font-size:1em; line-height:28px; text-align:center;}
.brscore{width:26px; height:28px; position:absolute; top:127px; left:130px; z-index:3; color:#FFFFFF; font-weight:bold; font-size:1em; line-height:28px; text-align:center;}
.totalscore{width:26px; height:28px; position:absolute; top:66px; left:75px; z-index:3; color:#FFFFFF; font-weight:bold; font-size:1em; line-height:28px; text-align:center;}
/*.totalscore{width:26px; height:28px; background:url(../_images/_map/score_bg.png); position:absolute; top:66px; left:75px; z-index:3; color:#696969; font-weight:bold; font-size:0.9em; line-height:28px; text-align:center;}*/
.rankpos{width:180px; height:20px; position:absolute; bottom:-18px; left:0px; text-align:center;}


.RELHeader{width:465px; height:30px; margin:0px 0px 10px 0px; background:url(../_images/_map/REL_header.jpg) no-repeat; color:#FFF; font-weight:bold; line-height:30px; padding:0px 0px 0px 12px; cursor:pointer;}
.TAPHeader{width:465px; height:30px; margin:0px 0px 10px 0px; background:url(../_images/_map/TAP_header.jpg) no-repeat; color:#FFF; font-weight:bold; line-height:30px; padding:0px 0px 0px 12px; cursor:pointer;}
.DECHeader{width:465px; height:30px; margin:0px 0px 10px 0px; background:url(../_images/_map/DEC_header.jpg) no-repeat; color:#FFF; font-weight:bold; line-height:30px; padding:0px 0px 0px 12px; cursor:pointer;}
.GTDHeader{width:465px; height:30px; margin:0px 0px 10px 0px; background:url(../_images/_map/GTD_header.jpg) no-repeat; color:#FFF; font-weight:bold; line-height:30px; padding:0px 0px 0px 12px; cursor:pointer;}

.RELHeaderS{width:530px; height:30px; margin:0px 0px 10px 0px; background:url(../_images/_map/REL_headerS.jpg) no-repeat; color:#FFF; font-weight:bold; line-height:30px; padding:0px 0px 0px 12px; cursor:pointer;}
.TAPHeaderS{width:530px; height:30px; margin:0px 0px 10px 0px; background:url(../_images/_map/TAP_headerS.jpg) no-repeat; color:#FFF; font-weight:bold; line-height:30px; padding:0px 0px 0px 12px; cursor:pointer;}
.DECHeaderS{width:530px; height:30px; margin:0px 0px 10px 0px; background:url(../_images/_map/DEC_headerS.jpg) no-repeat; color:#FFF; font-weight:bold; line-height:30px; padding:0px 0px 0px 12px; cursor:pointer;}
.GTDHeaderS{width:530px; height:30px; margin:0px 0px 10px 0px; background:url(../_images/_map/GTD_headerS.jpg) no-repeat; color:#FFF; font-weight:bold; line-height:30px; padding:0px 0px 0px 12px; cursor:pointer;}

/*Cluster score headers*/

.clustergreen{position:absolute; width:70px; height:30px; right:8px; top:0px; background:url(../_images/_map/cluster_SBG_green.jpg); color:#FFF; line-height:30px; text-align:center; font-size:1.2em; font-weight:bold;}
.clusterblue{position:absolute; width:70px; height:30px; right:8px; top:0px; background:url(../_images/_map/cluster_SBG_blue.jpg); color:#FFF; line-height:30px; text-align:center; font-size:1.2em; font-weight:bold;}
.clusterorange{position:absolute; width:70px; height:30px; right:8px; top:0px; background:url(../_images/_map/cluster_SBG_orange.jpg); color:#FFF; line-height:30px; text-align:center; font-size:1.2em; font-weight:bold;}
.clusterred{position:absolute; width:70px; height:30px; right:8px; top:0px; background:url(../_images/_map/cluster_SBG_red.jpg); color:#FFF; line-height:30px; text-align:center; font-size:1.2em; font-weight:bold;}

.cluster_container{float:left; width:564px; position:relative; min-height:50px;}
/*
.clustergreen{position:absolute; width:70px; height:30px; right:8px; top:-259px; background:url(../_images/_map/cluster_SBG_green.jpg); color:#FFF; line-height:30px; text-align:center; font-size:1.2em; font-weight:bold;}
.clusterblue{position:absolute; width:70px; height:30px; right:8px; top:-259px; background:url(../_images/_map/cluster_SBG_blue.jpg); color:#FFF; line-height:30px; text-align:center; font-size:1.2em; font-weight:bold;}
.clusterorange{position:absolute; width:70px; height:30px; right:8px; top:-259px; background:url(../_images/_map/cluster_SBG_orange.jpg); color:#FFF; line-height:30px; text-align:center; font-size:1.2em; font-weight:bold;}
.clusterred{position:absolute; width:70px; height:30px; right:8px; top:-259px; background:url(../_images/_map/cluster_SBG_red.jpg); color:#FFF; line-height:30px; text-align:center; font-size:1.2em; font-weight:bold;}
*/
/*for the statments on mymap results and how best they match (small box) */
.XDiF_Green{float:left; width:71px; height:21px; line-height:21px; color:#FFF; font-weight:normal; font-size:11px; text-align:center; background:url(../_images/_map/green_statement.jpg) no-repeat; margin:0px 0px 4px 0px;}
.XDiF_Blue{float:left; width:71px; height:21px; line-height:21px; color:#FFF; font-weight:normal; font-size:11px; text-align:center; background:url(../_images/_map/blue_statement.jpg) no-repeat; margin:0px 0px 4px 0px;}
.XDiF_Orange{float:left; width:71px; height:21px; line-height:21px; color:#FFF; font-weight:normal; font-size:11px; text-align:center; background:url(../_images/_map/orange_statement.jpg) no-repeat; margin:0px 0px 4px 0px;}
.XDiF_Red{float:left; width:71px; height:21px; line-height:21px; color:#FFF; font-weight:normal; font-size:11px; text-align:center; background:url(../_images/_map/red_statement.jpg) no-repeat; margin:0px 0px 4px 0px;}
.XDiF_Standard{float:left; width:71px; height:21px; line-height:21px; color:#FFF; font-weight:normal; font-size:11px; text-align:center; background:url(../_images/_map/blue_statement.jpg) no-repeat; margin:0px 0px 4px 0px;}
.showStatement{float:left; width:475px; font-size:12px; margin:0px 3px 4px 3px; padding:0px 5px 0px 0px;}
.showStatement li{margin:0px 0px 0px 10px;}
.showStatementSi{float:left; width:460px; font-size:12px; margin:0px 3px 4px 3px; padding:0px 5px 0px 0px;}
.showStatementSi li{margin:0px 0px 0px 10px;}
#nextSS {
	position:absolute;
	width:30px;
	height:58px;
	z-index:999;
	right: 0px;
	top: 72px;
	display:none;
}

#prevSS {
	position:absolute;
	width:30px;
	height:58px;
	z-index:999;
	left: -44px;
	top: 72px;
	display:none;
}
#pagernav{text-align:center; position:absolute;  top: 196px; left:2px; width:748px; margin:6px 0px 0px 0px;}
#pagernav a{font-size:12px; font-weight:bold; padding:2px;}

/***************TOOLTIP*******************/

 
/* tooltip styling */ 
.tooltip { 
    display:none; 
    min-height:163px; 
    width:370px; 
    font-size:11px; 
    color:#fff; 
    z-index:99999;
} 

.inner_cluster .bottom {
	margin-top:60px;
	z-index:99999;
}

.inner_cluster .resultslider .bottom {
	margin-top:0px;
	z-index:99999;
}

.bottom {
	z-index:99999;
}

/* a .label element inside tooltip */ 
.tooltip .label { 
    color:yellow; 
    width:35px; 
} 
 
.tooltip a { 
    color:#ad4; 
    font-size:11px; 
    font-weight:bold; 
}

.tooltiptop{float:left; width:370px; height:23px; background:url(../_images/_tooltip/tooltip_top.png) no-repeat;}
.tooltipmid{float:left; width:310px; min-height:100px; background:url(../_images/_tooltip/tooltip_mid.png) repeat-y; padding:4px 30px 10px 30px;}
.tooltipfactor{font-size:14px; font-weight:bold;}
.factorPos{color:#2ad34f; font-weight:bold;}
.factorNeg{color:#f2d76b; font-weight:bold;}
.tooltipbtm{float:left; width:370px; height:42px; background:url(../_images/_tooltip/tooltip_btm.png) no-repeat;}
.tooltip.bottom .tooltipmid{float:left; width:310px; min-height:100px; background:url(../_images/_tooltip/tooltip_mid.png) repeat-y; padding:14px 30px 10px 30px;}
.tooltip.bottom .tooltiptop{float:left; width:370px; height:41px; background:url(../_images/_tooltip/tooltip_top_alt.png) no-repeat;}
.tooltip.bottom .tooltipbtm{float:left; width:370px; height:23px; background:url(../_images/_tooltip/tooltip_btm_alt.png) no-repeat;}

#sortoverlay {left: 50%;position: absolute;width: 209px;height:109px;text-align: center;display: none;font-weight:bold;color: #333;padding:10px 5px 5px 5px;background:url(../_images/loading_bg.png) no-repeat;z-index:9999999;}
.textfield{background:url(../_images/textfield_bg.jpg) repeat-x; border:1px solid #ccc; font-size:12px; padding:2px;margin:2px 0px 0px 0px; color:#666;}

.loginbutton{width:84px; height:33px; background:url(../_images/login_button.jpg) no-repeat; border:0px; margin:0px; padding:0 0 3px 0; font-size:12px; font-family:Arial, Verdana; color:#7aa6cc; cursor:pointer; font-weight:bold;}
.loginbutton:hover {background: transparent url(../_images/login_button.jpg) no-repeat 0 -33px;color:#fff;}

#langselbox{position:absolute; top:34px; left:-4px; display:none;}
#langmenu{float:left; background:#FFF; width:250px; padding:0px; margin:0px 0px 0px 0px; min-height:50px;border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
#langmenu ul{padding:0px; margin:0px;}
#langmenu a, #langmenu a:visited {
  text-align:right; 
  text-decoration:none; 
  color:#7e7e7e; 
  display:block;
  width:220px;
  height:30px; 
  border-bottom:1px solid #ccc; 
  padding:0px 10px 0px 20px;
  line-height:30px;
  font-size:11px;
}
#langmenu li:hover {
	background:url(../_images/langmenu_on.jpg) repeat-x;
 }
#langmenu li {float:left; position:relative; display:inline; margin-left:0px;background:#fff; }
form{margin:0px; padding:0px;}

#matchtip{width:357px; font-size:12px; z-index:101; height:149px;display:none; text-align:left; position:absolute: top:0px; left:0px; background:url(../_images/_tooltip/matchtip.png); padding:14px;}
#matchtip p{text-align:left; }
.matchhelp{cursor:pointer;}
a.edittmap {font-size:11px; font-weight:bold;}

.simple_overlay {
  display:none; 
  width:780px;     
  border:10px solid #666; 
  border:6px solid rgba(82, 82, 82, 0.698); 
  -moz-border-radius:8px; 
  -webkit-border-radius:8px; 
}

.simple_overlay div.addpad { 
    padding:10px; 
    border:1px solid #666; 
    background-color:#fff; 
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:12px;
    position:relative;
} 

.simple_overlay div.addpad td {
		font-size:12px;
}

.simple_overlay .cicon {
	position:absolute;
	width:16px; 
	height:16px;
	background:none;
	border:none;
	top:0px;
	left:0px;
}

.overlayHeader{width:732px;background:#70a8d2; height:26px; line-height:26px; padding:0px 0px 0px 10px; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #333333; color:#FFF; font-size:12px;}

#TMAPbox{ 
    display:none; 
    width:780px;     
    border:10px solid #666; 
    border:6px solid rgba(82, 82, 82, 0.698); 
    -moz-border-radius:8px; 
    -webkit-border-radius:8px; 
}

#mapsDisplay {
    display:none; 
    width:495px;     
    border:10px solid #666; 
    border:6px solid rgba(82, 82, 82, 0.698); 
    -moz-border-radius:8px; 
    -webkit-border-radius:8px; 
    background-color:#fff; 
}
 
#TMAPbox div.addpad { 
    padding:10px; 
    border:1px solid #666; 
    background-color:#fff; 
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:12px;
    position:relative;
} 

#TMAPbox .cicon {
	position:absolute;
	width:16px; 
	height:16px;
	background:none;
	border:none;
	top:0px;
	left:0px;
}

#updateBox { 
    display:none; 
    width:880px;     
    border:10px solid #666; 
    border:6px solid rgba(82, 82, 82, 0.698); 
    -moz-border-radius:8px; 
    -webkit-border-radius:8px;
} 
 
#updateBox div.addpad { 
    padding:10px; 
    border:1px solid #666; 
    background-color:#fff; 
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:12px;
    position:relative;
} 

#updateBox .cicon {
	position:absolute;
	width:16px;
	height:16px;
	background:none;
	border:none;
	top:0px;
	left:0px;
}

#updateBox h2 { 
    margin:-11px; 
    margin-bottom:0px; 
    color:#bd3a3a; 
    background-color:#f3f3f3; 
    padding:5px 10px 5px 12px;
    border:1px solid #666; 
    font-size:20px; 
}

/*********************************** MAP ICON STYLES **********************************/

.single_grey{position:absolute; width:26px; height:36px; background:url(../_images/_map/single_grey.png) no-repeat;}
.single_grey_alt{position:absolute; width:26px; height:36px; background:url(../_images/_map/single_grey_alt.png) no-repeat;}
.single_green{position:absolute; width:26px; height:36px; background:url(../_images/_map/single_green.png) no-repeat;}
.single_blue{position:absolute; width:26px; height:36px; background:url(../_images/_map/single_blue.png) no-repeat;}
.single_orange{position:absolute; width:26px; height:36px; background:url(../_images/_map/single_orange.png) no-repeat;}
.single_red{position:absolute; width:26px; height:36px; background:url(../_images/_map/single_red.png) no-repeat;}

.cross_grey{position:absolute; width:30px; height:30px; background:url(../_images/_map/cross_grey.png) no-repeat;}
.cross_grey_alt{position:absolute; width:30px; height:30px; background:url(../_images/_map/cross_grey_alt.png) no-repeat;}
.cross_green{position:absolute; width:30px; height:30px; background:url(../_images/_map/cross_green.png) no-repeat;}
.cross_blue{position:absolute; width:30px; height:30px; background:url(../_images/_map/cross_blue.png) no-repeat;}
.cross_orange{position:absolute; width:30px; height:30px; background:url(../_images/_map/cross_orange.png) no-repeat;}
.cross_red{position:absolute; width:30px; height:30px; background:url(../_images/_map/cross_red.png) no-repeat;}

.ideal_grey{position:absolute; width:34px; height:32px; background:url(../_images/_map/ideal_grey.png) no-repeat;}
.ideal_grey_alt{position:absolute; width:34px; height:32px; background:url(../_images/_map/ideal_grey_alt.png) no-repeat;}
.ideal_green{position:absolute; width:34px; height:32px; background:url(../_images/_map/ideal_green.png) no-repeat;}
.ideal_blue{position:absolute; width:34px; height:32px; background:url(../_images/_map/ideal_blue.png) no-repeat;}
.ideal_orange{position:absolute; width:34px; height:32px; background:url(../_images/_map/ideal_orange.png) no-repeat;}
.ideal_red{position:absolute; width:34px; height:32px; background:url(../_images/_map/ideal_red.png) no-repeat;}

/*********************************** MAP ICON STYLES **********************************/

#goodmatchbox{position:absolute; background:#FFF; padding:8px 0px 0px 10px; line-height:18px; width:300px; height:80px; top:74px; border:1px solid #999999; -moz-border-image: url(../_images/shadow_border.png) 6 / 8px stretch stretch; -webkit-border-image: url(../_images/shadow_border.png) 6 6 6 6 / 8px stretch stretch;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
#qmarkhelp{position:absolute; width:23px; height:23px; top:188px; right:62px; background:url(../_images/_icons/qmark.png) no-repeat; z-index:99;}
#qmarkhelpleft{position:absolute; width:23px; height:23px; top:74px; left:52px; background:url(../_images/_icons/qmark.png) no-repeat; z-index:99;}
.fl{float:left;}
.marginpad{margin:3px 3px 0px 0px;}
#starRateHolder{float:left; width:316px; height:100px; margin:10px 0px 0px 6px;}
.starRateText{font-family: arial; font-size:15px; font-weight:bold;}

.matches_excellent{color:#0b8a26; font-weight:bold;}
.matches_good{color:#3d8ebf; font-weight:bold;}
.matches_average{color:#c38b00; font-weight:bold;}
.matches_poor{color:#a10f00; font-weight:bold;}

#STBoxEx{float:left; width:69px; height:67px; background:url(../_images/_map/statement_score_boxes.jpg) 0px 0px no-repeat; color:#0b8b26; font-weight:bold; font-size:18px; margin:3px 4px 0px 0px; line-height:67px; text-align:center; cursor:pointer;}
#STBoxGo{float:left; width:69px; height:67px; background:url(../_images/_map/statement_score_boxes.jpg) -69px 0px no-repeat; color:#3d8ebf; font-weight:bold; font-size:18px; margin:3px 4px 0px 0px; line-height:67px; text-align:center; cursor:pointer;}
#STBoxAv{float:left; width:69px; height:67px; background:url(../_images/_map/statement_score_boxes.jpg) 0px -67px no-repeat; color:#c38b00; font-weight:bold; font-size:18px; margin:3px 4px 0px 0px; line-height:67px; text-align:center; cursor:pointer;}
#STBoxPo{float:left; width:69px; height:67px; background:url(../_images/_map/statement_score_boxes.jpg) -69px -67px no-repeat; color:#a10f00; font-weight:bold; font-size:18px; margin:3px 0px 0px 0px; line-height:67px; text-align:center; cursor:pointer;}

.statementHolder ul{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding:0px;
margin:0px;
}

.SDGreenBullet{background:transparent url(../_images/_map/excellent_bullet.png) no-repeat scroll 0 1px;
margin-bottom:4px;
padding-left:20px;
display:block;
float:left;}
.SDBlueBullet{background:transparent url(../_images/_map/good_bullet.png) no-repeat scroll 0 1px;
margin-bottom:4px;
padding-left:20px;
display:block;
float:left;}
.SDOrangeBullet{background:transparent url(../_images/_map/poor_bullet.png) no-repeat scroll 0 1px;
margin-bottom:4px;
padding-left:20px;
display:block;
float:left;}
.SDRedBullet{background:transparent url(../_images/_map/bad_bullet.png) no-repeat scroll 0 1px;
margin-bottom:4px;
padding-left:20px;
display:block;
float:left;}
.SDNeutralBullet{background:transparent url(../_images/_map/neutral_bullet.png) no-repeat scroll 0 1px;
margin-bottom:4px;
padding-left:20px;
display:block;
float:left;}


.pdflink{min-height:20px; width:212px; line-height:18px; background:url(../_images/_icons/pdf.png) no-repeat; float:left; padding:0px 0px 0px 22px; font-size:11px; font-weight:bold;}
.pdflink a, .pdflink a:hover{font-size:11px; font-weight:bold; text-decoration:none;}

#startsurvey{margin:10px auto; height:91px; background:url(../_images/start_survey_bg.jpg) no-repeat; width: 431px; text-align:center; line-height:90px;}
#startsurvey a, #startsurvey a:hover{display:block; width:431px; height:91px; text-decoration:none;color:#FFF; font-size:26px;}

#forgottenpass_box{position:absolute;width:331px; height:239px; border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; padding:20px 14px 16px 20px;display:none; top:230px; right:26px; background:#FFF; z-index:5;}
#forgotpass_button{margin:10px auto; height:41px; width: 192px; text-align:center; line-height:40px;}
#forgotpass_button a{display:block;  background:url(../_images/_menu/menu_sprite.png) no-repeat; width:192px; height:41px; text-decoration:none;color:#FFF; font-size:12px; font-weight:bold;}
#forgotpass_button a:hover{ background:url(../_images/_menu/menu_sprite.png) 0px -41px no-repeat;}

.ST_TT_Box { 
    display:none; 
    min-height:20px; 
    min-width:200px; 
    font-size:12px;
    z-index:99997;
    background:#FFF;
    border:1px solid #cccccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;
		padding:5px 10px 5px 10px;
}
.ST_TT{cursor:pointer;}

#MainContentHolder{float:left; width:904px;}
#MH_Top{float:left; width:607px; height:20px; background:url(../_images/_map/mapbox_top.jpg) no-repeat;}
#MH_Content{float:left; width:580px; min-height:50px; background:url(../_images/_map/mapbox_mid.jpg) repeat-y; padding:0px 0px 0px 27px;}
#MH_Btm{float:left; width:607px; height:26px; background:url(../_images/_map/mapbox_btm.jpg) no-repeat;}


#toptenbar, #genReportBar{height:24px; background:#6fa7d1; border:1px solid #6fa7d1;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; width:550px; padding:6px 0px 0px 8px;}
.top10bar{height:42px; font-size:14px; font-weight:bold; color:#FFF; margin:5px 0px 0px 0px; cursor:pointer;}
.bottom10bar{height:42px; font-size:14px; font-weight:bold; color:#FFF; margin:5px 0px 0px 0px; cursor:pointer;}
.topTenSingleHolder{font-size:14px; font-weight:bold; color:#FFF; margin:0px 0px 16px 0px;}

#footer{float:right; margin:12px 20px 10px 0px;}
#footer a{font-size:12px;}

#lb_box{float:left; width:250px; height:56px; background:url(../_images/_map/brain_small.jpg) center left no-repeat; text-align:left; position:relative;}
#rb_box{float:right; width:250px; height:56px; background:url(../_images/_map/brain_small.jpg) center right no-repeat; text-align:right; position:relative;}
#lb_box_desc{position:absolute; top:10px; left:10px; height:24px; background:#6fa7d1; border:1px solid #6fa7d1;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; width:200px; padding:6px 0px 0px 8px; font-size:14px; font-weight:bold; color:#FFF;}
#rb_box_desc{position:absolute; top:10px; right:10px; height:24px; background:#6fa7d1; border:1px solid #6fa7d1;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; width:200px; padding:6px 8px 0px 0px; font-size:14px; font-weight:bold; color:#FFF;}

#leftmapswitch .shadeBox {
  min-height:20px; 
  width:218px; 
  font-size:11px;
  text-align:left;
  line-height:normal;
  background:#FFF;
  border:1px solid #cccccc; -khtml-box-shadow:rgba(0,0,0,0.2) 0px 0px 6px;-moz-box-shadow:rgba(0,0,0,0.2) 0px 0px 6px;box-shadow:rgba(0,0,0,0.2) 0px 0px 6px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;
	padding:5px 10px 5px 10px;
	margin:10px 0px 0px 0px;
}

#leftmapswitch .shadeBox a.MAPoverlay{
	line-height:18px; float:left; padding:0px 0px 0px 0px; font-size:11px; font-weight:bold; width:212px;
} 
#leftmapswitch .shadeBox a.MAPoverlay:hover{
	font-size:11px; font-weight:bold; text-decoration:none; background:url(../_images/_map/tick.png) center right no-repeat;
} 
.clearOL{font-size:11px;}
.overlayOn{font-size:11px; font-weight:bold; text-decoration:none; background:url(../_images/_map/tick.png) center right no-repeat;}
#toptenMatchText{float:left; width:552px; margin:10px 0px 10px 0px; font-family: arial; font-size:15px; font-weight:bold;}
.clusterText{font-family: arial; font-size:15px; font-weight:bold;}
#clusterLegend{float:left; width:556px; min-height:60px; margin:14px 0px 0px 0px;}
#scorePercBox{float:left; width:316px; height:130px; margin:16px 0px 0px 14px;}
#scorePercText{font-family: arial; font-size:15px; font-weight:bold;}
#genStatBar{height:30px; font-size:14px; font-weight:bold; color:#FFF; margin-top:6px; float:left;}

.floatleft{float:left;}
.floatright{float:right;}
#keepSessionAliveDiv:hover{text-decoration:underline;}
#resultsContent{float:left; position:relative; min-height:100px; width:620px; margin-top:-10px;}
.contentPadding{padding:0px 5px 0px 20px;}

.langselectFloat{float:left; padding:10px 5px 0px 0px;}
.bigTBAuth{background:url(../_images/logintextfield_bg.jpg) repeat-x; border:1px solid #666; font-size:17px; padding:2px;margin:6px 0px 6px 0px; color:#969696; width:400px;}

.pstrength-minchar {
	font-size : 10px;
}

/* MAP SURVEY PAGE */
#progressBarHolder{float:right; width:289px; height:34px; background:url(../_images/_survey/progress_bar_bg.jpg) no-repeat; padding:11px 0px 0px 20px; margin:12px 0px 0px 0px;}
#progressText{float:left; width:80px;}
#progressBarContainer{float:left; width:130px; height:12px; background:url(../_images/_survey/progress_meter_bg.jpg) no-repeat; padding:7px 0px 0px 8px;}
.MWxTitleHolder{float:left; width:420px; height:60px; padding:12px 0px 0px 0px;}
#responseBoxTop{float:left; width:911px; height:32px; background:url(../_images/_survey/response_top.jpg) no-repeat;}
#responseBoxMid{float:left; min-height:100px; width:911px; background:url(../_images/_survey/response_bg_mid.jpg) repeat-y;}
#responseBoxBottom{float:left; width:911px; height:29px; background:url(../_images/_survey/response_btm.jpg) no-repeat;}
#mainContentHolder{padding:0px 20px 0px 16px; width:904px;}
#titleBoxHolder{float:left; width:580px; height:80px;}
#iconHolder{float:left; width:100px; height:80px;}
#kitediv{position:absolute; margin:0px auto; left:0; right:0; width:900px; height:188px; top:30px; z-index:1;}
#topcloudbg{position:absolute; width:100%; height:214px; left:0px; top:74px; background:url(../_images/top_cloud_bg.png) repeat-x 0px 0px; z-index:2;}
#topMenuHolder{position:absolute; width:100%; height:60px; left:0px; top:0px; background:url(../_images/top_menu_strip.png) repeat-x 0px 0px; z-index:2;}

#lostusername{width:316px; margin-top:5px;}

/***************** FLAG SPRITE CODE *********************/

.flag_1{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat 0px 0px; width:25px; height:18px;}
.flag_17{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -25px 0px; width:25px; height:18px;}
.flag_24{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -50px 0px; width:25px; height:18px;}
.flag_50{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -75px 0px; width:25px; height:18px;}
.flag_61{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -100px 0px; width:25px; height:18px;}
.flag_62{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -125px 0px; width:25px; height:18px;}
.flag_77{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -150px 0px; width:25px; height:18px;}
.flag_78{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -175px 0px; width:25px; height:18px;}
.flag_84{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -200px 0px; width:25px; height:18px;}
.flag_98{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -225px 0px; width:25px; height:18px;}
.flag_99{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -250px 0px; width:25px; height:18px;}
.flag_101{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -275px 0px; width:25px; height:18px;}
.flag_107{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat 0px -18px; width:25px; height:18px;}
.flag_152{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -25px -18px; width:25px; height:18px;}
.flag_161{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -50px -18px; width:25px; height:18px;}
.flag_163{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -75px -18px; width:25px; height:18px;}
.flag_170{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -100px -18px; width:25px; height:18px;}
.flag_172{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -125px -18px; width:25px; height:18px;}
.flag_176{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -150px -18px; width:25px; height:18px;}
.flag_181{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -175px -18px; width:25px; height:18px;}
.flag_189{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -200px -18px; width:25px; height:18px;}
.flag_193{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -225px -18px; width:25px; height:18px;}
.flag_195{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -250px -18px; width:25px; height:18px;}
.flag_207{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -275px -18px; width:25px; height:18px;}
.flag_208{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat 0px -36px; width:25px; height:18px;}
.flag_221{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -25px -36px; width:25px; height:18px;}
.flag_225{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -50px -36px; width:25px; height:18px;}
.flag_241{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -75px -36px; width:25px; height:18px;}
.flag_242{position:absolute; top:6px; left: 10px; background:url(../_images/_flags/flag_sprite.gif) no-repeat -100px -36px; width:25px; height:18px;}

.largeHeader{font-family: "myriad-pro-1", arial, san-serif; color:#71b4e1; font-size:36px; padding:0px 0px 6px 0px; margin:-8px 0px 0px 0px;}
.medHeader{font-family: "myriad-pro-1", arial, san-serif; color:#71b4e1; font-size:18px; padding:0px 0px 6px 0px; margin:-8px 0px 0px 0px;}

.userListTab{width:380px; font-weight:bold; color:#FFF; padding:5px 0px 0px 8px; margin:0px 0px 4px 0px; float:left; display:block; height:18px; font-size:11px; background:#68a2d0; -moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
.infoDesc{cursor:pointer;}

.avatarPBox{width:240px; min-height:100px; z-index:4; position:absolute; top:600px; left:400px; display:none; background:#ecf2f8; color:#4A4A4A; margin:0px 14px 0px 0px; border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; padding:10px;}
.goIconBox{cursor:pointer;}

.clusterClosed{text-align:right; float:right; font-size:86%; padding:0px 22px 0px 0px; width:240px; background:url(../_images/right_arrow_mini.png) 246px 13px no-repeat;}
.clusterOpen{text-align:right; float:right; font-size:86%; padding:0px 22px 0px 0px; width:240px; background:url(../_images/down_arrow_mini.png) 246px 13px no-repeat;}
.clusNameHolder{float:left; width: 200px; font-size:100%;}

.legendExcel{width:70px; padding:0px 0px 8px 20px; margin:5px 0px 0px 0px; font-size:12px; font-weight:bold; float:left; background:url(../_images/_map/excellent_circle.png) no-repeat;}
.legendGood{width:70px; padding:0px 0px 8px 20px; margin:5px 0px 0px 0px; font-size:12px; font-weight:bold; float:left; background:url(../_images/_map/good_circle.png) no-repeat;}
.legendAverage{width:70px; padding:0px 0px 8px 20px; margin:0px 0px 5px 0px;  font-size:12px; font-weight:bold; float:left; background:url(../_images/_map/average_circle.png) no-repeat;}
.legendPoor{width:70px; padding:0px 0px 8px 20px; margin:0px 0px 5px 0px;  font-size:12px; font-weight:bold; float:left; background:url(../_images/_map/poor_circle.png) no-repeat;}

#legendPad{padding:5px;}
#MAP_PredictorHolder{float:left; width:340px;}
#BehaviourFlexLegend{float:left; width:214px;}
.behaviourBarText{margin:10px 0px 0px 0px;}

.blueButton{line-height:30px; float:left; height:30px; padding:0px 10px 0px 10px; font-weight:bold; background:#76acda; -moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; font-size:12px; font-family:arial, verdana; text-align:center; color:#FFF;}
.blueButton:hover{text-decoration:underline; color:#FFFFFF;}
.blueButton:visited{text-decoration:none; color:#FFFFFF;}

.blueButtonAL{line-height:30px; height:30px; padding:8px; margin:0px auto; font-weight:bold; background:#76acda; -moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; font-size:12px; font-family:arial, verdana; text-align:center; color:#FFF;}
.blueButtonAL:hover{text-decoration:underline; color:#FFFFFF;}
.blueButtonAL:visited{text-decoration:none; color:#FFFFFF;}

.settingsTextField{border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; border:1px solid #bebebe; width:252px; background:#d0e3f3; height:20px; padding:2px; color:#444444;}
.headerDark-Grey-pro{font-family: "myriad-pro-1", arial, san-serif; color:#424242; font-size:16px;}
.settingsFormTitle{width:168px;}
.settingsFormInput{width:252px; text-align:right;}
#settingsRightBox{width:420px; min-height:240px; float:left; background:#ecf2f8; margin:6px 14px 0px 6px; border:1px solid #ccc;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; padding:16px;}
#settingsLeftBox{width:383px; min-height:240px; float:left; background:#ecf2f8; margin:6px 14px 0px 6px; border:1px solid #ccc;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; padding:16px;}
#avaDisplayType{font-weight:bold; color:#5791bf;}
#gaicon{float:left; margin:0px 0px 0px 10px; padding:9px 0px 0px 0px;}
#fbicon{float:left;}
#twicon{float:left; margin:0px 0px 0px 10px;}
#staticDetailsSettings{float:left; width:300px; color:#4a4a4a;}
#avatarFloat{float:left; width:366px;}
#settingsMenuHolder{float:right; padding:4px 16px 0px 0px;}
#userAvatar{float:right;}
#mapsDisplaycloseBtn{float:right; width:100px; text-align:right; padding:0px 16px 0px 0px;}
#viewModeFloat{float:left; width:460px; margin:6px 0px 0px 0px;}
#selCloseMapsDisplay{width:220px; margin:10px auto; text-align:center; height:30px;}
.selectedMAPTab{position:relative;}
.removeMe{position:absolute; top:2px; right:5px; width:14px; height:14px; font-size:14px; text-align:center;}
.removeMe:hover{color:#FFF;}

.Search{
	height:66px;
	background-color:#edf4fa; 
	padding:14px 0px 0px 12px;
}
.blueMyriadLarge{	font-family: "myriad-pro-1", arial, san-serif; color:#5e9fd6; font-size:24px;}

.CloseDiv {
	height:46px;
	background-color:#68a7db; 
	text-align:center;
}
.CloseDiv a {font-family: "myriad-pro-1", arial, san-serif; color:#FFF; font-size:21px; line-height:48px; text-decoration:none; text-align:center;}
.Contents {
	overflow:auto;
	width:424px;
	height: 400px;
	margin:10px 10px 20px 36px;
}
#resultRow {
	display:block;
	margin:0px; padding:0px; list-style:none; 
}
#resultRow.thumbs li.selected, #resultRow.list li.selected {
	background-color: #75ABD7;
	color: #FFF;
	border:medium solid;
	border-color:#537A99;
}
#resultRow.thumbs li.selected:hover, #resultRow.list li.selected:hover  {
	background-color: #659fce;
	color: #FFF;
	border:medium solid;
	border-color:#32495C;
}

#leftsortbox .multiselect, #rightsortbox .multiselect {
	width: 330px;
	height: 107px;
	z-index:1;
	overflow: auto;
}
	
.multiselect ul li:hover { 
	background-color: #90bfe5;
	color:#FFF;
}

#resultRow.thumbs li {
	display:block;
	float:left;
	list-style:none;
	width:76px;
	height:90px;
	padding:6px;
	margin:2px;
	border-radius: 4px;
	border:medium solid;
	border-color:#75ABD7;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #FFF;
	cursor: pointer;
	text-align:center;
	overflow:hidden;
}
#resultRow.list li {
	display:block;
	float:left;
	list-style:none;
	width:382px;
	height:17px;
	padding:2px;
	margin:2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border:medium solid;
	border-color:#75ABD7;
	background-color: #FFF;
	cursor: pointer;
}
#resultRow li:hover{
	background-color: #dbe9f4;
}

#selectMAPsHeader{float:left; width:260px;}

#SearchInput{background:url(../_images/_map/inputBoxBGSelMAPs.jpg) repeat-x; border: 1px solid #BEBEBE;}

.multiselect ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

.multiselect ul li img {
	float: left;
	vertical-align:middle;
	margin-right: 5px;
}
.multiselect ul li {
	display:block;
	float:left;
	width:300px;
	height:25px;
	line-height: 24px;
	padding:2px;
	margin:2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	background-color: #e6f0f8;
	color: #757575;
	border:1px solid;
	border-color:#cccccc;
}

.clearmaps{font-family: "myriad-pro-1", arial, san-serif; color:#71b4e1; font-size:14px; padding:0px 0px 6px 0px; margin:-8px 0px 0px 0px;}
.addmap{font-family: "myriad-pro-1", arial, san-serif; color:#71b4e1; font-size:18px; padding:0px 0px 6px 0px; margin:-8px 0px 0px 0px;}

#clearAllLeft{float:left; margin:8px 0px 0px 0px;}
#clearAllRight{float:right; text-align:right; margin:8px 0px 0px 0px;}
#compareBox{position:absolute; width:178px; height:76px; left: 356px; top: 92px; color:#000; display:none;}
#rankByBox{position:absolute; width:178px; height:40px; left: 356px; top: 172px; color:#000; text-align:center;}
#rankByBox select{margin:4px 0px 0px 0px;}
#leftAvatarBox{position:absolute; width:50px; height:50px; top:12px; left: 8px;}
#vsAvatarBox{position:absolute; width:20px; height:20px; top:28px; left: 80px; font-family: "myriad-pro-1", arial, san-serif; color:#71b4e1; font-weight:bold; font-size:14px;}
#rightAvatarBox{position:absolute; width:50px; height:50px; top:12px; left: 120px;}
#addMAPBoxLeft{position:absolute; top:10px; right:32px; width:100px; height:25px; text-align:right;}
#addMAPBoxRight{position:absolute; top:10px; left:20px; width:100px; height:25px; text-align:left;}
#authBoxGo{display:block; color:#7eb3df; background:#7eb3df; font-size:16px; font-weight:bold; border:1px solid #6767676; -moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; line-height:32px; height:32px; text-align:center; color:#FFFFFF;}

