/*
Stylish Select 0.4.1 - $ plugin to replace a select drop down box with a stylable unordered list
http://scottdarby.com/

Copyright (c) 2009 Scott Darby

Requires: jQuery 1.3 or newer

Dual licensed under the MIT and GPL licenses.

*/


/*==================================
Hide lists on page load
====================================*/

.stylish-select ul.newList {left:-9999px;}

/*==================================
red curvy example
====================================*/

ul.newList * {margin:0; padding:0; z-index:99999;}
ul.newList a {color: #000; text-decoration:none; display:block;}
ul.newList {margin:0; padding:0; list-style:none; color:#000; width:290px; background:#fff; position:absolute;  border:1px solid #ccc; top:22px; left:0; overflow:auto; z-index:99999;}
.newListSelected {width:285px; color:#000; height:19px; padding:3px 0 0 6px; float:left; background:url(select-bg.png) no-repeat;}
.newListSelected span {width:284px; display:block;}
ul.newList li a {padding:4px 8px; display: block;}
ul.newList li a:focus {-moz-outline-style: none;}
.selectedTxt {width:258px; overflow:hidden; height:16px; padding:0 23px 0 0;}
.hiLite {background:#650101!important; color:#fff!important;}
.hiLite a {background:#650101!important; color:#fff!important;}
.newListHover {background:#ccc!important; color:#000!important; cursor:default;}
.newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;}
.newListOptionTitle {font-weight:bold;}
.newListOptionTitle ul {margin:3px 0 0;}
.newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}

/*======================================
windows xp style - div that contains the 
<select> has been given an id of #win-xp
(for the purposes of this example
========================================*/
.dropdown .newListSelected {background:#FFF url(dropdown.gif) no-repeat scroll 125px 1px; border:1px solid #A5ACB2; color:#000; height:17px; margin-bottom:10px; padding:0; width:143px;}
.dropdown .newListSelected div {display:block; font-size:0.85em; padding:2px 21px 2px 4px; text-align:left !important; width:120px;}
.dropdown ul.newList {list-style:none; color:#000; width:142px; background:#fff; border:1px solid #000; top:22px; left:0; height:auto; overflow:auto; font-size: 0.85em; text-align:left!important; position:absolute; z-index:9999;}
.dropdown ul.newList li {padding:0px 0px!important; border-bottom: 1px solid #cccccc;}
.dropdown .hiLite {background:#e4a5b9!important; color:#fff!important;}
.dropdown .newListHover {background:#9ec7f1!important; color:#333!important; cursor:default;}
.dropdown .newListSelHover {cursor:default;}
.dropdown .newListSelHover, .dropdown .newListSelFocus {background-position:auto;}
.dropdown .newListSelHover div, .dropdown .newListSelFocus div {font-weight:normal;}