/* Multiselect
----------------------------------*/

.ui-multiselect { border: #ccc solid 1px; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

#addMAPbox .ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:right; border-left: 1px solid #ccc;  }
#leftsortbox .ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:right; border-left: 1px solid;  }
#rightsortbox .ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

#addMAPbox .ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left;}
#leftsortbox .ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left;}
#rightsortbox .ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }

.ui-multiselect .ui-state-default { border: 0px; margin-bottom: 1px; position: relative; padding-left: 19px;}
.ui-multiselect .ui-draggable .ui-state-default { border: 0px solid #c5dbec; }
.ui-multiselect .ui-draggable .ui-state-hover{ border: 0px solid #c5dbec; }
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px; color:#FFF;}
.ui-multiselect .search { float: left; padding: 4px; color:#000;}
#addMAPbox .ui-multiselect .search { float: left; padding: 4px; color:#000000;}
#addMAPbox .ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }

	.multiselect {
		width: 740px;
		height: 160px;
		z-index:1;
	}
	
	.searchBoxMs{
		float:left; line-height:24px; padding:0px 4px 0px 8px;
	}
	
/******************** FOR ACC SHARING IN ADMIN ****************************/
#shareAccBox .ui-multiselect div.selected, #pullAccListBox .ui-multiselect div.selected{ position: relative; padding: 0; margin: 0; border: 0; float:right; border-left: 1px solid #333333;  }
#shareAccBox .ui-multiselect div.available, #pullAccListBox .ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left;}
#shareAccBox .ui-multiselect .search, #pullAccListBox .ui-multiselect .search { float: left; padding: 4px; color:#fff;}
#shareAccBox .ui-multiselect input.search, #pullAccListBox .ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }
#shareAccBox .multiselect, #pullAccListBox .multiselect {
	width: 672px;
	height: 160px;
	z-index:1;
}