/*******************************************************************************/
/*************************** SAVIIO ADMIN STYLE SHEET **************************/
/*******************************************************************************/

/* IMPORTANT SET HERE AFTER THE JQUERY UI STYLES LOADED */
div.ui-datepicker{
 font-size:12px;
}

#adminlogo{height:166px; padding:0px 0px 10px 10px; float:left;}
#adminpaneltext{float:right; width:200px; margin:90px 30px 6px 0px; font-size:11px; font-weight:bold; text-align:right;}
#adminpanel_float{float:right; min-width:160px;margin:2px 30px 0px 0px; font-size:11px; font-weight:bold;}
.titlebar_shadow{height:15px; background:url(../_images/shadow_grad.jpg) repeat-x;}
.iconfloat{float:left; margin:7px 6px 0px 0px;}
.searchicon{float:left; margin:4px 6px 0px 0px;}
#g_options{position:absolute; width:119px; height:34px; top:-48px; right:6px; background:url(../_images/graphcp_but.jpg) no-repeat; z-index:99; color:#FFF; font-size:12px; font-weight:bold; line-height:32px; text-align:center; cursor:pointer;}
.SelectAdmins{width:180px;}
.floatleft{float:left;}
#keepSessionAliveDiv:hover{text-decoration:underline;}
.flpad{float:left; padding:0px 5px 0px 5px;}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../_images/admin_bg.jpg) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #888;
}
.cleaner{clear:both;}
.clearRight{clear:right;}
.clearLeft{clear:left;}

#sortoverlay {left: 50%;position: absolute;width:209px; font-weight:bold; font-family:Arial,Verdana; font-size:14px; height:109px;text-align: center;display: none;font-weight:bold;color: #666666;padding:10px 5px 5px 5px;background:url(../_images/loading_bg.png) no-repeat;z-index:9999999;}
.tablesorter .odd .headquarters, .tablesorter .even .headquarters{background:#c4e9cc;}
.tablesorter .odd .childcompany, .tablesorter .even .childcompany{background:#eac4d1;}

.tablesorter .odd .nevertaken, .tablesorter .even .nevertaken{background:#6db6ee;}
.tablesorter .odd .decaygreen, .tablesorter .even .decaygreen{background:#8de35c;}
.tablesorter .odd .decayorange, .tablesorter .even .decayorange{background:#f7a729;}
.tablesorter .odd .decayred, .tablesorter .even .decayred{background:#F18E8E;}

.tablesorter .odd .useractive, .tablesorter .even .useractive{background:#6DB6EE;}
.tablesorter .odd .userauthed, .tablesorter .even .userauthed{background:#8de35c;}
.tablesorter .odd .userdeactive, .tablesorter .even .userdeactive{background:#f18e8e;}

table.tablesorter tbody tr.red td {background-color:#f18e8e;}
table.tablesorter tbody tr.orange td {background-color:#e3b24a;}
table.tablesorter tbody tr.green td {background-color:#9ed79b;}

#tableHolder{float:left; width:100%; margin:18px 0px 0px 0px;}

/****** TYPEKIT STYLES *******/
/*h1{font-family:"myriad-pro-1", arial, sans-serif;color:#cccccc; font-size:26px; padding:0px; margin:8px 0px 8px 0px; font-weight:normal}*/

h1{color: #979696;
	font-family: arial,verdana,sans-serif;
	font-size:24px;
	line-height: 110%;
	padding: 0;
	margin:0px;
	font-weight:normal;
}

h3{color: #979696;
	font-family: arial,verdana,sans-serif;
	font-size:16px;
	line-height: 110%;
	padding: 0;
	margin:0px;
	font-weight:normal;
}


img{border:0;}
a{outline:none;}
object{ outline:none;}

#userbar{height:30px; background:url(../_images/userbar_bg.jpg) repeat-x;border-top-right-radius:4px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px;border-top-left-radius:4px; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; font-size:12px; font-family:arial, verdana; color:#FFF; font-weight:bold; padding:0px 0px 0px 12px; line-height:28px;}
#structurebar{height:30px; background:url(../_images/structurebar_bg.jpg) repeat-x;border-top-right-radius:4px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px;border-top-left-radius:4px; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; font-size:12px; font-family:arial, verdana; color:#FFF; font-weight:bold; padding:0px 0px 0px 12px; line-height:28px;}
#mapbar{height:30px; background:url(../_images/mapbar_bg.jpg) repeat-x;border-top-right-radius:4px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px;border-top-left-radius:4px; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; font-size:12px; font-family:arial, verdana; color:#FFF; font-weight:bold; padding:0px 0px 0px 12px; line-height:28px;}
#surveybar{height:30px; background:url(../_images/surveybar_bg.jpg) repeat-x;border-top-right-radius:4px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px;border-top-left-radius:4px; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; font-size:12px; font-family:arial, verdana; color:#FFF; font-weight:bold; padding:0px 0px 0px 12px; line-height:28px;}

#menu{float:left; width:222px;font-size: 11px; color:#FFF; font-family:Arial; font-weight:bold;padding:0px; margin:0px;list-style-type:none;border:1px solid #ccc; -moz-border-image: url(../_images/shadow_border.png) 6 / 8px stretch stretch; -webkit-border-image: url(../_images/shadow_border.png) 6 6 6 6 / 8px stretch stretch;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
#menu a, #menu a:visited {
  text-align:left; 
  text-decoration:none; 
  color:#7e7e7e; 
  display:block;
  width:192px;
  height:30px; 
  border-bottom:1px solid #ccc; 
  padding:0px 0px 0px 30px;
  line-height:30px;
  }
#menu li:hover {
  color:#424242;
  background-color:#ebf2f5; 
}
#menu li {float:left;display:inline; margin-left:0px; }
#menu li img{padding:8px 0px 0px 0px;}


#menu .SVsection{background:url(../_images/surveybar_bg.jpg) repeat-x; height:30px; color:#FFF;font-size: 12px; padding:0px 0px 0px 8px; width:214px;border-top-right-radius:4px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px;border-top-left-radius:4px; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px;}
#menu .STsection{background:url(../_images/structurebar_bg.jpg) repeat-x; height:30px; color:#FFF;font-size: 12px; padding:0px 0px 0px 8px; width:214px;}
#menu .USsection{background:url(../_images/userbar_bg.jpg) repeat-x; height:30px; color:#FFF;font-size: 12px; padding:0px 0px 0px 8px; width:214px;}
#menu .MPsection{background:url(../_images/mapbar_bg.jpg) repeat-x; height:30px; color:#FFF;font-size: 12px; padding:0px 0px 0px 8px; width:214px;}

#menu a.SVsection:hover{color:#FFF;}
#menu a.STsection:hover{color:#FFF;}
#menu a.USsection:hover{color:#FFF;}
#menu a.MPsection:hover{color:#FFF;}

#menuholder{width:200px; float:left; min-height:300px; margin-left:16px;}
#content_holder{min-height:400px; margin:0px 10px 0px 260px; border:1px solid #ccc; -moz-border-image: url(../_images/shadow_border.png) 6 / 8px stretch stretch; -webkit-border-image: url(../_images/shadow_border.png) 6 6 6 6 / 8px stretch stretch; border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
#content_pad{padding:3px 20px 0px 20px;font-size:11px; font-family:arial; color:#494949;}
#content_padmain{float:left;font-size:11px; font-family:arial; color:#494949; width:100%;}
#rightcolumn{
min-height:400px; margin:0px 10px 10px 260px; border:1px solid #ccc; -moz-border-image: url(../_images/shadow_border.png) 6 / 8px stretch stretch; -webkit-border-image: url(../_images/shadow_border.png) 6 6 6 6 / 8px stretch stretch; border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;
float: left;
margin-left: -300px;
width: 260px;
}
#content_innerpad{margin-right: 300px; padding:3px 20px 0px 20px;}

#detailstable .dtitle {color:#98bfce; font-weight:bold;}
#detailstable {margin-top:10px;}

#pager{float:right;}
#filter_container{background:url(../_images/filter_top_bg.jpg) repeat-x; padding:7px 10px 0px 10px; height:31px; border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;-moz-box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
.filter_container{margin:3px auto 7px auto; background:url(../_images/filter_top_bg.jpg) repeat-x; padding:7px 10px 0px 10px; height:31px; border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;-moz-box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}


/* tooltip styling */
.tooltip { display:none; min-height:147px; width:236px; font-size:11px; color:#605f5f; z-index:99999;} 
#tt_useraccess{border:1px solid #333; background:url(../_images/minitip_bg.jpg) repeat-x; padding:3px 5px 3px 5px; color:#333; font-size:11px; display:none;}
.textfield{background:url(../_images/textfield_bg.jpg) repeat-x; border:1px solid #ccc; font-size:12px; padding:2px;margin:2px 0px 0px 0px;}
#filter-clear-button{background:url(../_images/clearbtn.png) no-repeat 0px 1px; width:50px; height:26px; color:#333; border:0px;font-size:11px; margin:0px 0px 0px 5px; padding:0px;}
#sliderholder{ height:340px;}
.infodisplay{float:left; height:340px; width:100%; margin:0px 20px 0px 0px;}
.formgo{background:url(../_images/formgo.png) no-repeat 0px 1px; width:50px; height:26px; color:#333; border:0px;font-size:11px; margin:0px 0px 0px 5px; padding:0px 0px 5px 0px; font-weight:bold; cursor:pointer;}

.tooltiptop{float:left; width:280px; height:16px; background:url(../_images/_tooltip/admin_tool_top.png) no-repeat;}
.tooltipmid{float:left; width:220px; min-height:26px; background:url(../_images/_tooltip/admin_tool_mid.png) repeat-y; padding:4px 30px 10px 30px;}
.tooltipbtm{float:left; width:280px; height:16px; background:url(../_images/_tooltip/admin_tool_btm.png) no-repeat;}

/*********** TAB MENU **********/

#tabmenu{float:right; width:104px; padding:4px 0px 4px 0px; margin:0px 0px 0px 14px; min-height:100px;border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}

#tabmenu a, #tabmenu a:visited {
  text-align:center; 
  text-decoration:none; 
  display:block;
  width:97px;
  height:62px; 
  padding:12px 0px 0px 0px;
  }
#tabmenu li:hover {
	background:url(../_images/tabmenu_on.png) no-repeat;
 }
#tabmenu li {float:left;display:inline; margin-left:3px;background:url(../_images/tabmenu_off.png) no-repeat; }
.tabon{background-image:url(../_images/tabmenu_on.png);}
.taboff{background-image:url(../_images/tabmenu_off.png);}
#adminpanel{min-width:160px; height:23px; padding:12px 10px 5px 10px; background:#FFFFFF; border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555555;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #555555;
}
a:hover {
	text-decoration: underline;
	color: #555555;
}
a:active {
	text-decoration: none;
	color: #555555;
}

/******************* LIGHT WINDOW BOX STYLES *************************/

.accountsBox { display:none; width:700px; border:10px solid #666; border:6px solid rgba(82, 82, 82, 0.698); -moz-border-radius:8px; -webkit-border-radius:8px; } 
.accountsBox div.addpad {  padding:10px; border:1px solid #666; background-color:#fff; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size:12px;position:relative;} 
.accountsBox .cicon {position:absolute;width:16px; height:16px;background:none;	border:none;top:0px;left:0px;}
.accountsBox h2 { margin:-11px; margin-bottom:0px; color:#fff; background-color:#eaac61; padding:5px 10px 5px 36px; border:1px solid #666; font-size:20px; }

.MAPsBox { display:none; width:772px; border:10px solid #666; border:6px solid rgba(82, 82, 82, 0.698); -moz-border-radius:8px; -webkit-border-radius:8px; } 
.MAPsBox div.addpad { padding:10px; border:1px solid #666; background-color:#fff; font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:12px;position:relative;} 
.MAPsBox .cicon {position:absolute;width:16px; height:16px;background:none;border:none;top:0px;left:0px;}
.MAPsBox h2 { margin:-11px; margin-bottom:0px; color:#fff; background-color:#96c09c; padding:5px 10px 5px 36px; border:1px solid #666; font-size:20px; }

.userBox { display:none; width:700px; border:10px solid #666; border:6px solid rgba(82, 82, 82, 0.698); -moz-border-radius:8px; -webkit-border-radius:8px; } 
.userBox div.addpad { padding:10px; border:1px solid #666; background-color:#fff; font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:12px; position:relative;} 
.userBox .cicon {position:absolute;width:16px; height:16px;background:none;border:none;top:0px;left:0px;}
.userBox h2 { margin:-11px; margin-bottom:0px; color:#fff; background-color:#d899ae; padding:5px 10px 5px 36px; border:1px solid #666; font-size:20px; }

.panelBox h2 { margin:-11px; margin-bottom:0px; color:#fff; background-color:#96c09c; padding:5px 10px 5px 36px; border:1px solid #666; font-size:20px; }
.panelBox { display:none; width:770px; border:10px solid #666; border:6px solid rgba(82, 82, 82, 0.698); -moz-border-radius:8px; -webkit-border-radius:8px; } 
.panelBox div.addpad { padding:10px; border:1px solid #666; background-color:#fff; font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:12px;position:relative;} 
.panelBox .cicon {position:absolute;width:16px; height:16px;background:none;border:none;top:0px;left:0px;}

.emailBox { display:none; width:772px; border:10px solid #666; border:6px solid rgba(82, 82, 82, 0.698); -moz-border-radius:8px; -webkit-border-radius:8px; } 
.emailBox div.addpad { padding:10px; border:1px solid #666; background-color:#fff; font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:12px;position:relative;} 
.emailBox .cicon {position:absolute;width:16px; height:16px;background:none;border:none;top:0px;left:0px;}
.emailBox h2 { margin:-11px; margin-bottom:0px; color:#fff; background-color:#96c09c; padding:5px 10px 5px 36px; border:1px solid #666; font-size:20px; }

#uiaccess { display:none; width:540px; border:10px solid #666; border:6px solid rgba(82, 82, 82, 0.698); -moz-border-radius:8px; -webkit-border-radius:8px; } 
#uiaccess div.addpad { padding:10px; border:1px solid #666; background-color:#fff; font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:12px; position:relative;} 
#uiaccess .cicon {position:absolute;width:16px; height:16px;background:none;border:none;top:0px;left:0px;}
#uiaccess h2 { margin:-11px; margin-bottom:0px; color:#fff; background-color:#96c09c; padding:5px 10px 5px 36px; border:1px solid #666; font-size:20px; }

.levelsBox { display:none; width:900px; border:10px solid #666; border:6px solid rgba(82, 82, 82, 0.698); -moz-border-radius:8px; -webkit-border-radius:8px; } 
.levelsBox div.addpad {  padding:10px; border:1px solid #666; background-color:#fff; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size:12px;position:relative;} 
.levelsBox .cicon {position:absolute;width:16px; height:16px;background:none;	border:none;top:0px;left:0px;}
.levelsBox h2 { margin:-11px; margin-bottom:0px; color:#fff; background-color:#eaac61; padding:5px 10px 5px 36px; border:1px solid #666; font-size:20px; }

/******************* LIGHT WINDOW BOX STYLES *************************/

.compheadlist{display:none;}
#submitRightsLink{display:none;}
#updateRightsLink{display:none;}

#addMAPbox{min-height:172px; float:left; margin-top:12px; width:420px;}
#shareAccBox{min-height:172px; float:left; margin-top:12px; width:668px;}
#pullAccListBox{min-height:172px; float:left; margin-top:12px; width:668px;}
#editSHAREbox{min-height:172px; float:left; margin-top:12px; width:668px;}
#shareuserlist{min-height:50px; float:left; display:none; margin:12px 0px 0px 0px;}
#addTMAPheader{width:732px;background:#96c09c; height:26px; line-height:26px; padding:0px 0px 0px 10px; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #333333; color:#FFF; font-size:12px;}
#manageAccessheader{width:504px;background:#96c09c; height:26px; line-height:26px; padding:0px 0px 0px 10px; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #333333; color:#FFF; font-size:12px;}
#userboxheader{width:664px;background:#d899ae; height:26px; line-height:26px; padding:0px 0px 0px 10px; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #333333; color:#FFF; font-size:12px;}
#companybox #companyboxheader{background:#eaac61;color:#FFF;-moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #333333;font-size:12px;height:26px; width:664px; line-height:26px;padding:0px 0px 0px 10px;}
#sharecompanybox #companyboxheader{background:#eaac61;color:#FFF;-moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #333333;font-size:12px;height:26px; width:664px; line-height:26px;padding:0px 0px 0px 10px;}
.addLevelboxheader{background:#eaac61;color:#FFF;-moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #333333;font-size:12px;height:26px; width:864px; line-height:26px;padding:0px 0px 0px 10px;}
.mapuserlist {margin:6px 0px 0px 20px; padding:0px;}



/**************** SIMPLE SELECT STYLES FOR SELECT COMPANY ON ADD TMAP ****************/

div.sms-container{border: 1px solid rgb(119, 119, 119); overflow: auto; width: 228px; height: 74px; cursor: default; margin:4px 0px 0px 0px;}
.sms-selected{color:#FFF;background-color: rgb(133, 177, 139); padding:3px;}
.sms-unselected{color:#333;background-color:transparent; padding:3px;}

.editwelcome{display:none; float:left; width:658px;}
.WEHeader{width:658px; height:22px; float:left; -moz-border-radius:2px; background:#96c09c; color:#444343 font-weight:bold; line-height:20px; margin:0 0 3px 5px; cursor:pointer;}

#lmsmenu{position:relative; width:672px;font-size: 11px; color:#FFF; font-family:Arial; font-weight:bold;padding:0px; margin:0px;list-style-type:none;}
#lmsmenu a, #lmsmenu a:visited {
  text-align:center; 
  text-decoration:none; 
  color:#FFF; 
  display:block;
  width:164px;
  height:37px; 
  line-height:36px;
  }
#lmsmenu li.lmscat:hover {
  color:#424242;
  background-color:#ebf2f5;
  background:url(../_images/_lms/lms_cat_tab_on.jpg) no-repeat;
}
#lmsmenu li.lmscat {float:left; margin-right:4px; width:164px; height:37px; background:url(../_images/_lms/lms_cat_tab_off.jpg) no-repeat; position:relative;}

.lmsmodules{position:absolute; top:37px; left:-20px; display:none; background:#FFF; width:198px; padding:0px; margin:0px;list-style-type:none; min-height:30px;border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;z-index:99;}
.modulemenu{float:left; width:198px; padding:0px; margin:0px 0px 0px 0px; min-height:30px;}

#lmsmenu .modulemenu li.modlink a, #lmsmenu .modulemenu li.modlink a:visited {
  text-align:left; 
  text-decoration:none; 
  color:#555555; 
  display:block;
  width:198px;
  height:30px;
  padding:0px 10px 0px 10px;
  line-height:30px;
  font-size:11px;
}
.modulemenu li.modlink:hover {
  background:url(../_images/_lms/lms_module_onoff.jpg) 0px -33px no-repeat; cursor:pointer;
 }
.modulemenu li.modlink {float:left;display:inline; margin:0px; background:url(../_images/_lms/lms_module_onoff.jpg) 0px 0px no-repeat; }

.selWelcomeULang{display:none;}
.selWelcomeMULang{display:none;}
.selWelcomeMULangRS{display:none;}

#lmsvidholder{float:left; width:420px; height:310px;}
#lms_summary{margin:0px 0px 12px 420px;display:none;}
#lmsmenu ul {padding:0px; margin:0px;list-style-type:none;}

.SelAccessCompanies{width:330px;}
.SelectAdmins{width:320px;}
.confirmdialog{z-index:10; font-size:12px; color:red; top:-10px; right:40px; position:absolute; min-width:340px; line-height:28px; font-weight:bold; min-height:20px; background:#FFF; border:1px solid #cccccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; padding:5px 14px 5px 14px;}
.confirmdialog a{font-size:12px; text-decoration:none;}
.confirmdialog a:hover{font-size:12px; text-decoration:underline;}
.makerelative{position:relative;}
a.resetpass{font-size:12px;}
.selTemplate{display:none;}
.lmsheader{font-size:14px; color:#87a2dd; font-weight:bold;}
.lmssubheader{font-size:12px; color:#d9721f;}

#lang_select{
	width:188px;
	height:32px;
	margin:16px 0px 0px 0px;
	line-height:31px;
	position:absolute;
	top:0px;
	right:24px;
	text-align:center;
	z-index:99;
	padding:3px auto 0px auto;
	cursor:pointer;
	color:#878787;
	background:#f8f8f8;
	-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;
	border:1px solid #333;
}

#currFlagFloat{float:right; padding:8px 10px 0px 7px;}

#langselbox{position:absolute; top:32px; right:0px; display:none;}
#langmenu{float:left; width:250px; padding:0px; margin:0px 0px 0px 0px; min-height:50px;border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;box-shadow:rgba(0,0,0,0.3) 0px 0px 12px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
#langmenu ul{padding:0px; margin:0px;}
#langmenu a, #langmenu a:visited {
  text-align:right; 
  text-decoration:none; 
  color:#7e7e7e; 
  display:block;
  width:220px;
  height:30px; 
  border-bottom:1px solid #ccc; 
  padding:0px 10px 0px 20px;
  line-height:30px;
  font-size:11px;
}
#langmenu li:hover {
	background:url(../_images/langmenu_on.jpg) repeat-x;
 }
#langmenu li {float:left; position:relative; display:inline; margin-left:0px;background:#fff; }
form{margin:0px; padding:0px;}
#footer{position:relative; padding:20px 0px 0px 0px; line-height:20px; text-align:center; font-size:12px; height:64px; margin:10px 12px 12px 260px; border:1px solid #c8c8c8; -moz-border-radius:6px;-webkit-border-radius:6px;-opera-border-radius:6px;-khtml-border-radius:6px;border-radius:6px; background-color:#ededed;}
#footer a{font-size:12px;}
#foot_mini{position:absolute; top:24px; right:20px; width:40px; height:39px; background:url(../_images/mini_saviio.png) no-repeat;}

.orangetab{background:url(../_images/orange_tab.jpg) no-repeat; display:block; width:219px; height:32px; text-align:center; line-height:30px; font-size:12px; color:#FFF; font-weight:bold; text-decoration:none;}
a.orangetab:hover{text-decoration:none;}

#reqname{font-weight:bold;}
#req_comments{border-color:#C4C4C4 #E4E4E4 #E4E4E4 #C4C4C4;
border-style:solid;
color:#333333;
border-width:1px;
font-size:100%; width:98%; height:90px;}
#req_comments_pull{border-color:#C4C4C4 #E4E4E4 #E4E4E4 #C4C4C4;
border-style:solid;
color:#333333;
border-width:1px;
font-size:100%; width:98%; height:90px;}
.acc_sharetab{float:right; width:224px; height:45px; font-size:16px; color:#FFF; background:url(../_images/acc_share_tab.jpg) no-repeat; text-align:right; line-height:44px;}
.acc_sharetab a {display:block; width:212px; height:45px; text-decoration:none; font-size:16px; color:#FFF; font-weight:bold; padding:0px 12px 0px 0px;}

.req_pending{font-weight:bold; color:#eaac41;}
.req_approved{font-weight:bold; color:#4ca04a;}
.req_declined{font-weight:bold; color:#dd5353;}

.orgtab_30{display:block; width:130px; line-height:28px; color:#FFF; text-decoration:none; text-align:center; font-weight:bold; font-size:12px; border:1px solid #efb061; -moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; background-color:#efb061; cursor:pointer; float:left; margin-right:6px;}
.orgtab_30:hover{text-decoration:none;}
.idealComplete{color:#59b359; font-weight:bold;}

#idealmap {width:670px; float:left;}
.IMslider{width:268px; float:left;}

/********************************** RELATIONSHIPS ***********************************/
#idealmap #tabs #reltab.ui-tabs-selected a:link{background-image : none; background-color : #FFF; font-weight:bold; color:#9cc1cf;}
#idealmap #reltab.ui-tabs-active a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#9cc1cf;}
#idealmap #reltab.ui-state-default a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#9cc1cf;}

/********************************** THINKING & PLANNING ***********************************/
#idealmap #tabs #taptab.ui-tabs-selected a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#efb061;}
#idealmap #taptab.ui-tabs-active a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#efb061;}
#idealmap #taptab.ui-state-default a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#efb061;}

/********************************** MAKING DECISIONS ***********************************/
#idealmap #tabs #mkdtab.ui-tabs-selected a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#a6d6ac;}
#idealmap #mkdtab.ui-tabs-active a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#a6d6ac;}
#idealmap #mkdtab.ui-state-default a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#a6d6ac;}

/********************************** GETTING THINGS DONE ***********************************/
#idealmap #tabs #gtdtab.ui-tabs-selected a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#ab63a3;}
#idealmap #gtdtab.ui-tabs-active a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#ab63a3;}
#idealmap #gtdtab.ui-state-default a:link{background-image : none; background-color : #FFF; font-weight :bold; color:#ab63a3;}

#idealmap .demo #tabs .IMslider .handlea{width:86px; height:48px; background:url(../_images/_survey/you_pointer.png) no-repeat; overflow: hidden; position: absolute; top: 10px; border:0px;}
#idealmap #tabs .ui-widget-content.IMslider { background:url(../_images/_survey/map_slider_bg.jpg) no-repeat 0px 0px;border:0px;}
.left_response{float:left; width:150px; min-height:100px; _height:100px; margin:5px 28px 0px 0px; font-size:13px; }
.right_response{float:right; width:150px; min-height:100px; _height:100px; margin:5px 0px 0px 28px; text-align:right;font-size:13px;}

#relprefbar{height:24px; background:#9cc1cf; border:1px solid #9cc1cf;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; width:616px; padding:6px 8px 0px 8px; margin:0px 0px 16px 0px;}
#tapprefbar{height:24px; background:#efb061; border:1px solid #efb061;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; width:616px; padding:6px 8px 0px 8px; margin:0px 0px 16px 0px;}
#mkdprefbar{height:24px; background:#a6d6ac; border:1px solid #a6d6ac;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; width:616px; padding:6px 8px 0px 8px; margin:0px 0px 16px 0px;}
#gtdprefbar{height:24px; background:#ab63a3; border:1px solid #ab63a3;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; width:616px; padding:6px 8px 0px 8px; margin:0px 0px 16px 0px;}

.ft_left{float:left; text-align:left; font-weight:bold; color:#FFF; font-size:14px;}
.ft_right{float:right; text-align:right; font-weight:bold; color:#FFF; font-size:14px;}

.rel_text{color:#9cc1cf; font-weight:bold;}
.tap_text{color:#efb061; font-weight:bold;}
.mkd_text{color:#a6d6ac; font-weight:bold;}
.gtd_text{color:#ab63a3; font-weight:bold;}

#idealfrmholder{width:700px; min-height:200px; float:left;}
#idealadd_inner{float:left; width:350px;}
#idealcontrol{float:left; width:350px;}
#idealbuttons{float:left; width:300px; height:58px; padding:10px 0px 0px 0px;}

.floatRight{float:right;}

#rightColDetailsPad{margin-top:2px;}
#rightColPad{padding:10px;}
#rightColGrav{float:left; width:60px;}
#rightColDetails{float:left; width:180px;}
#rightColContentFloat{padding:5px; float:left; width:236px;}

.addonly{display:none;}
.editonly{display:none;}
.infoBoxFull{margin:2px 0px 40px 0px; position:relative; float:left; min-height:30px; background:#f8f8f8; border:1px solid #ccc; -moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; font-size:12px; font-family:arial, verdana; padding:14px 0px 0px 12px; width:98%;}
.pieGraphSelector{width:170px; min-height:100px; float:left; margin:0px 0px 0px 12px;}

#adminSelectLangHolder{float:left; width:600px; margin:0px 0px 20px 12px;}
.blueButton{line-height:30px; float:left; height:30px; padding:0px 10px 0px 10px; font-weight:bold; background:#76acda; -moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; font-size:12px; font-family:arial, verdana; text-align:center; color:#FFF;}
.blueButton a:hover{text-decoration:underline; color:#FFFFFF;}
	
/***************** FLAG SPRITE CODE *********************/

.flag_1{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat 0px 0px; width:25px; height:18px;}
.flag_17{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -25px 0px; width:25px; height:18px;}
.flag_24{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -50px 0px; width:25px; height:18px;}
.flag_50{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -75px 0px; width:25px; height:18px;}
.flag_61{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -100px 0px; width:25px; height:18px;}
.flag_62{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -125px 0px; width:25px; height:18px;}
.flag_77{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -150px 0px; width:25px; height:18px;}
.flag_78{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -175px 0px; width:25px; height:18px;}
.flag_84{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -200px 0px; width:25px; height:18px;}
.flag_98{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -225px 0px; width:25px; height:18px;}
.flag_99{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -250px 0px; width:25px; height:18px;}
.flag_101{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -275px 0px; width:25px; height:18px;}
.flag_107{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat 0px -18px; width:25px; height:18px;}
.flag_152{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -25px -18px; width:25px; height:18px;}
.flag_161{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -50px -18px; width:25px; height:18px;}
.flag_163{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -75px -18px; width:25px; height:18px;}
.flag_170{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -100px -18px; width:25px; height:18px;}
.flag_172{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -125px -18px; width:25px; height:18px;}
.flag_176{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -150px -18px; width:25px; height:18px;}
.flag_181{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -175px -18px; width:25px; height:18px;}
.flag_189{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -200px -18px; width:25px; height:18px;}
.flag_193{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -225px -18px; width:25px; height:18px;}
.flag_195{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -250px -18px; width:25px; height:18px;}
.flag_207{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -275px -18px; width:25px; height:18px;}
.flag_208{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat 0px -36px; width:25px; height:18px;}
.flag_221{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -25px -36px; width:25px; height:18px;}
.flag_225{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -50px -36px; width:25px; height:18px;}
.flag_241{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -75px -36px; width:25px; height:18px;}
.flag_242{position:absolute; top:6px; left: 10px; background:url(../_images/flag_sprite.gif) no-repeat -100px -36px; width:25px; height:18px;}

#newCompanyUserAdd{display:none;}

#freetrial_box{font-size:11px; color:#7c7c7c; position:absolute; top: 42px; left: 130px; width: 224px; height:108px; background:#FFF; padding:7px 10px 0px 10px; border:1px solid #ccc; -khtml-box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;-moz-box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;-moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;}
.freeTrialHeader{font-family: "myriad-pro-1", arial, san-serif; color:#3a9dae; font-size:24px;}
.freeTrialDays{font-family: "myriad-pro-1", arial, san-serif; color:#3a9dae; font-size:14px;}
.freeTrialDays_ok{font-family: "myriad-pro-1", arial, san-serif; color:#6ba970; font-size:14px;}

.infoBoxMainMAP{float:right; padding:4px 6px 0px 0px; font-size:16px; font-weight;bold;}
#MAPWarning{float:left; margin:8px 0px 10px 0px; width: 210px; min-height:60px; padding:10px; -moz-border-radius:4px;-webkit-border-radius:4px;-opera-border-radius:4px;-khtml-border-radius:4px;border-radius:4px; border:1px solid #FFF; color:#FFF; font-weight:bold; font-size:14px;}
#MAPWarning a{text-decoration:none; font-size:14px; color:#FFF;}
.MWOrange{background-color:#ec9e3b;}
.MWRed{background-color:#e23939;}
.limitBarSmall{float:left; background:url(../_images/limitsprite_small.png) no-repeat 0px 0px; width:230px; height:10px;}
#limitsHolder{width:392px; float:left; padding:10px;}
#accinfoHolder{width:430px; float:left; padding:10px;}
.toggleCustomOn{background:url(../_images/customLimitSprite.jpg) no-repeat 0px -41px; width:204px; height:41px; display:block; cursor:pointer;}
.toggleCustomOff{background:url(../_images/customLimitSprite.jpg) no-repeat 0px 0px; width:204px; height:41px; display:block; cursor:pointer;}
.userlist{cursor:pointer;}