body,td,th {
	/*font-family: georgia, Verdana, Geneva, sans-serif;*/
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height:140%;
	color: #333;
}
body {
	background-color: #FFFFFF;
	margin: 0px;
	background-image: url(../_images/main_bg.jpg);
	background-repeat: repeat-x;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #47adc1;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #47adc1;
}
a:hover {
	text-decoration: underline;
	color: #47adc1;
}
a:active {
	text-decoration: none;
	color: #47adc1;
}

.hometab{width:318px; height:27px; background:url(../_images/home_list_tab.png) no-repeat; color:#24d0ed; font-weight:bold; font-size:11px; line-height:22px; padding:0px 0px 0px 12px;}
.hometab:hover{ background:url(../_images/home_list_tab_on.png) no-repeat;}
.hometab a{display:block; width:318px; height:27px;color:#24d0ed; text-decoration:none;}
.hometab a:hover{display:block; width:318px; height:27px;color:#666666; text-decoration:none;}
.cleaner{clear:both;}

.homeon{ background:url(../_images/home_list_tab_on.png) no-repeat;}
a.homecolOn{color:#666666;}


/*******************************************************************
														TYPE KIT STYLES												
********************************************************************/

.tk-myriad-pro{font-size:40px;color:#FFF;padding:0px 0px 0px 0px; line-height:32px;}
.headerGrey-pro{font-family: "myriad-pro-1", arial, san-serif; color:#7e7e7e; font-size:30px; line-height:32px;}
.headerDark-Grey-pro{font-family: "myriad-pro-1", arial, san-serif; color:#424242; font-size:18px;}
.loginBox{font-family: "myriad-pro-1", arial, san-serif; color:#FFF; font-size:16px;width:934px; height:32px; background:#5ec7da; border:3px solid #FFF; -moz-border-radius:4px; -webkit-border-radius:4px; float:left; margin:0px 0px 3px 4px; text-align:right; color:#FFF; padding:8px 14px 0px 0px;}
.loginBox input{margin:0px 6px 0px 6px;}
.loginBox img {cursor:pointer;}
h1{font-family:"myriad-pro-1", arial, sans-serif;color:#34a5b9; font-size:26px; padding:0px; margin:8px 0px 14px 0px; font-weight:normal;}
.topPad{padding:10px 0px 0px 0px;}
#loginBoxBut{float:right; width:102px; margin:0px 0px 0px 10px;}
#loginBoxForm{float:right; width:500px;}

/*******************************************************************
													NORMAL TYPE STYLES												
********************************************************************/

.small-required{letter-spacing:2px; font-size:10px; color:#838282;}
.contactTable td{border-width: 0px; border-bottom:1px; padding: 12px 0px 12px 0px; border-style: dotted;border-color: gray;}
h2.MWxBox{
	color: #34a5b9;
	font-family: arial,verdana,sans-serif;
	font-size:16px;
	line-height: 140%;
	padding: 0;
	margin:0px;
	font-weight:normal;
}
    
img{border:0;}
a{outline:none;}
object{ outline:none;}

#saviio_flash{
	float:left;
	width:924px;
	height:278px;
	margin:-8px 0px 0px 21px;
	z-index:5;
}

#top_narrow_header{
	float:left;
	width:931px;
	height:192px;
	margin:-8px 0px 0px 21px;
	z-index:5;
}
#flash_overlay{
	position:absolute;
	top:186px; 
	left:74px;
	width:164px;
	height:39px;
	z-index:6;
}

.homebox{
	float:left;
	width:248px; 
	height:143px;
	padding:15px 12px 12px 22px;
	background:url(../_images/home_box_bg.png) no-repeat;
}

.hbmargin {
	margin:0px 20px 0px 0px;
}

.prodholder{float:left; width:920px; height:172px; margin:18px 0px 0px 6px;}
.productbox{float:left; width:400px; height:172px; padding:5px 0px 0px 10px;}
.productbox h3 em {display:none;}
.prodrightbox{float:left; width:170px; height:74px; margin:0px 0px 0px 26px; padding:106px 0px 0px 10px;}
.prodleftbox{float:left; width:286px; height:168px;}

#ftprod_box h3{ background:url(../_images/product_sprites.png) 0px 2px no-repeat; height:38px;}
#qsprod_box h3{ background:url(../_images/product_sprites.png) 0px -58px no-repeat; height:38px;}
#prprod_box h3{ background:url(../_images/product_sprites.png) 0px -112px no-repeat; height:38px;}

#fticonbox{background:url(../_images/productbox_sprites.jpg) 0px 2px no-repeat; height:168px;}
#qsiconbox{background:url(../_images/productbox_sprites.jpg) -1px -196px no-repeat; height:168px;}
#priconbox{background:url(../_images/productbox_sprites.jpg) 0px -384px no-repeat; height:168px;}

#ftpricebox{ background:url(../_images/product_sprites.png) 12px -152px no-repeat; height:168px;}
#qspricebox{ background:url(../_images/product_sprites.png) -208px -152px no-repeat; height:168px;}
#prpricebox{ background:url(../_images/product_sprites.png) -429px -152px no-repeat; height:168px;}

.greyline {border-bottom:1px solid #CCCCCC; height:12px; width:900px; float:left; margin:0px 0px 0px 10px;}

.comparetable {border-collapse:collapse;border-spacing:0; width:908px;}

.comparetable th{border-right:1px dotted #D3D3D3;
color:#555555;
font-size:12px;
font-style:italic;
font-weight:normal;
line-height:18px;
padding:0 6px 12px;
width:20%;}
.comparetable td {border-top:1px dotted #D3D3D3;
color:#555555;
font-size:12px;
height:40px;
padding:6px 12px;
text-align:center;
vertical-align:middle;
}

/*Credits: CSSplay */
/*URL: http://www.cssplay.co.uk/menus/pro_drop2 */

.menutop {padding:0 0 0 12px; margin:0; list-style:none; height:40px; background:url(../_images/_menus/button1a.gif) repeat-x; position:relative;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;  }
.menutop li {display:inline; float:left; margin:0px 4px 0px 0px; height:49px;}
.menutop li.top {display:block; float:left; position:relative;}
.menutop li a.top_link {display:block; float:left; height:40px; line-height:33px; color:#535353; font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif; text-decoration:none; font-size:12px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;}
.menutop li a.top_link span {float:left; display:block; padding:0 24px 0 12px; height:40px;}
.menutop li a.top_link:hover {color:#fff; background: url(../_images/_menus/button4.gif) no-repeat;}
.menutop li a.top_link:hover span {background:url(../_images/_menus/button4.gif) no-repeat right top;}


.savmenu {margin:0px; padding:0px; list-style:none; width:580px;}
.savmenu li {display:inline; float:left; background:url(../../_images/_menu/menu_sprite.jpg) no-repeat 0px -118px; margin:0px 4px 0px 0px; height:36px;}
.savmenu li a {display:block; height:36px; float:left; background:url(../../_images/_menu/menu_sprite.jpg) no-repeat 0px -82px; text-decoration:none; font-size:120%; font-family:arial, sans-serif; line-height:36px;}
.savmenu li a b {margin:0px; width:110px; text-align:center; display:inline; float:left; height:32px; background:url(../../_images/_menu/menu_sprite.jpg) no-repeat 0px -82px; padding:0px; color:#fff;}
.savmenu li a:hover, .savmenu li a:hover b {border:0; background:url(../../_images/_menu/menu_sprite.jpg) no-repeat 0px -118px; cursor:pointer; color:#FFFFFF; text-decoration:none;}
.savmenu li a.current, .savmenu li a.current b, .savmenu li a.current:hover , .savmenu li a.current:hover b {background:url(../../_images/_menu/menu_sprite.jpg) no-repeat 0px -118px; color:#FFFFFF; cursor:default;}



/*this is for the active link class when on the page!*/
.menutop .activePage{color:#fff; background: url(../_images/_menus/button4.gif) no-repeat;}
.menutop .activePage span{color:#fff; background:url(../_images/_menus/button4.gif) no-repeat right top;}

/* SIDE MENU */
.menuside {margin:0px; padding:0px; list-style:none; width:248px;}
.menuside li {display:inline; float:left; background:url(../_images/_menus/leftmenu_on.png); margin:0px 4px 0px 0px; height:36px;}
.menuside li a {display:block; height:40px; float:left; background:url(../_images/_menus/leftmenu_off.png); text-decoration:none; font-size:120%; font-family:arial, sans-serif; line-height:36px;}
.menuside li a b {margin:0px; width:236px; text-align:left; display:inline; float:left; height:40px; background:url(../_images/_menus/leftmenu_off.png) right top; padding:0px 0px 0px 12px; color:#34a5b9;}
.menuside li a:hover, .menuside li a:hover b {border:0; background-image:url(../_images/_menus/leftmenu_on.png); cursor:pointer; color:#FFFFFF; text-decoration:none;}
.menuside li a.current, .menuside li a.current b, .menuside li a.current:hover , .menuside li a.current:hover b {background-image:url(../_images/_menus/leftmenu_on.png); color:#FFFFFF; cursor:default;}

.submenu {width:624px; background:#a4a4a4; height:28px; border:0px list-style-type:none; -moz-border-radius:4px; -webkit-border-radius:4px; margin:15px 0px 0px 0px; text-align:left; padding:0px;}
.submenu li {display:inline; float:left; height:28px;}
.submenu li a {font-family: Verdana,Geneva,sans-serif; font-size: 11px;display:block; height:28px; float:left; padding:0px 20px 0px 20px; font-weight:bold; text-align:center; line-height:26px; text-decoration:none; color:#FFF;}
.submenu li a:hover, .submenu li a.selected {border:0; background:url(../_images/_menus/selector_arrow.png) bottom center no-repeat; cursor:pointer; color:#baeef7; text-decoration:none;}
/*
.submenu li a:hover, .submenu li a:hover b {border:0; background-image:url(../_images/_menus/leftmenu_on.png); cursor:pointer; color:#FFFFFF; text-decoration:none;}
.submenu li a.current, .submenu li a.current b, .submenu li a.current:hover , .submenu li a.current:hover b {background-image:url(../_images/_menus/leftmenu_on.png); color:#FFFFFF; cursor:default;}
*/


#subflash{width:498px; height:260px; float:left; padding:14px 0px 0px 12px; margin:0px 0px 0px 18px;}
#container{position:absolute; top:0px; left:50%; margin:0px 0px 0px -483px; width:966px; min-height:500px; z-index:2;}
#menuholder{width:966px; float:left; height:60px; background:url(../_images/top_menu_header.png) no-repeat; position:relative;}
#menu_content{position:absolute;width:462px;height:42px;z-index:5;top:7px;right:9px;}
#freetrial{position:absolute;width:122px;height:38px;z-index:12;top:6px;left:378px;}
#menuender{position:absolute;width:12px;height:36px;z-index:6;top:7px;left:484px;}
#main_content{width:946px; float:left; min-height:260px; padding:0px 0px 8px 20px; position:relative;}
#content_left{width:384px; height:260px; float:left; padding:14px 0px 0px 12px;}
#htmenuholder{float:left; width:330px; height:160px;}
#subcontitle{float:left; width:934px; height:70px; padding:6px 0px 0px 12px;}
#bottomcon{float:left; width:946px; height:160px; padding:0px 0px 0px 10px;}
#footer{width:946px; float:left; height:43px; background:url(../_images/footer_bar.png) no-repeat; padding:0px 0px 0px 20px; line-height:36px; color:#FFF;}
.subheadtext{margin:0px 0px 4px 6px;}
.cleaner{clear:both;}

#mainbox_top{width:966px; float:left; height:29px; background:url(../_images/topboxmain_top.png) no-repeat; padding:0px;}
#mainbox_middle{width:966px; float:left; background:url(../_images/topboxmain_mid.png) repeat-y; padding:0px; position:relative;}
#mainbox_middle_content{width:966px; float:left; background:url(../_images/topboxmain_mid_content.png) repeat-y; padding:0px; position:relative;}
#mainbox_btm{width:966px; float:left; height:11px; background:url(../_images/topboxmain_btm.png) no-repeat; padding:0px;}

div.twitter { float:left; width: 952px; margin:0px 0px 2px 4px; position:relative;} 
#twitter { height: 42px; } 

ul#menu, ul#menu ul {
	margin:0px; 
	padding:0px; 
	list-style-type:none; 
	width:248px;
	font-size:11px;
}

ul#menu a {
  display: block;
  text-decoration: none;	
}

ul#menu li {
  margin-top: 1px;
  line-height:40px;
}

ul#menu li a, ul#menu ul#menu li a {
  padding:0px 0px 0px 12px; color:#34a5b9;
  background:url(../_images/_menus/leftmenu_off.png) no-repeat;
  height:40px;
	text-decoration:none; font-size:120%; font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif; line-height:36px;
}

ul#menu li a:hover, ul#menu ul#menu li a:hover {
  background:url(../_images/_menus/leftmenu_on.png) no-repeat; cursor:pointer; color:#FFFFFF; text-decoration:none;
}

ul#menu li ul li a, ul#menu ul#menu li ul li a {
  background: #e7e7e7;
  color: #5c5b5b;
  padding-left: 20px;
  width:227px;
}

ul#menu li ul li a:hover, ul#menu ul#menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #5dc8dc solid;
  padding-left: 15px;
}

ul#menu .activeSelect{
  background: #aaa;
  border-left: 5px #5dc8dc solid;
  padding-left: 15px;
  color:#FFF;
}

ul#menu ul#menu li a:hover {
    border-left: 0;
    padding-left: 0.5em;
}
ul#menu ul#menu {
    border-left: 5px #f00 solid;
}
ul#menu a.active, ul#menu ul#menu li a.active, ul#menu a.active:hover, ul#menu ul#menu li a.active:hover {
	background:url(../_images/_menus/leftmenu_on.png) no-repeat; cursor:pointer; color:#FFFFFF; text-decoration:none;
}
div.panel {
    border: 1px #000 solid;
    padding: 5px;
    margin-top: 1px;
}

ul#menu div.panel a, ul#menu div.panel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
ul#menu div.panel a:hover {
    color: #000;
    text-decoration: underline;
}


.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }
.indent3 { padding-left: 3em; }
.indent4 { padding-left: 4em; }
.indent5 { padding-left: 5em; }
.indent6 { padding-left: 6em; }
.indent7 { padding-left: 7em; }
.indent8 { padding-left: 8em; }
.indent9 { padding-left: 9em; }
.indent10 { padding-left: 10em; }

#innerContent{float:left; width:640px; padding:20px 20px 0px 10px;}
#contentMenuBar{float:left; width:430px;}
#contentSiFR{float:left; margin:12px 12px 6px 10px;}
#contentSiFR ul{margin:0px 0px 8px 0px; padding:0px 0px 0px 22px;}
#contentSiFR li{margin:0px 0px 2px 0px; padding:0px;}
#contentSideGFX{float:left; width:200px; margin:6px 0px 0px 0px;}
#contentSideGFXwBar{float:left; width:200px; margin:56px 0px 0px 0px;}
#submenuHolder{float:left; width:248px; margin:-8px 2px 0px 0px; min-height:200px; background:#f1f1f1;}

.featureHighlights{float:left; margin:10px 0px 0px 0px;}

.infoLeft{float:left; padding:0px 0px 0px 12px;}
.infoRight{float:left; padding:0px 0px 0px 12px;}

.infoLeft img{padding:0px 10px 0px 0px;}
.infoRight img{padding:0px 0px 0px 10px;}

.contentPadTop{padding:12px 0px 10px 12px;}
div.contentPadTop strong{ font:Arial,Helvetica,sans-serif; font-size:12px; color:#5c5b5b;}
.caseStudyList{margin:0px 0px 0px 0px;}
.caseStudyList strong {
	  color: #000000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 8px;
  }
  .caseStudyList p{
   font-size: 100%;
 }

.contentHeader{	
    color: #000000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 8px;
 }
 
 .preferenceHeader{	
    color: #000000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0px;
 }
 
 .footerPad{padding:12px 0px 0px 20px;}
 #mainPageContent{float:left; padding:0px 8px 4px 8px;}
 
.prefLeft{float:left; width:288px; padding:0px 12px 0px 0px;}
.prefRight{float:left; width:288px; text-align:right; padding:0px 0px 0px 12px;}
  
div.featureHighlights li strong {
    color: #000000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 8px;
    /*white-space: nowrap;*/
}
div.featureHighlights li p {
    letter-spacing: normal;
}

div.featureHighlights ul {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
}

div.featureHighlights ul li {
  display: block;
  float: left;
  width: 300px;
  padding:0px 0px 0px 12px;
}
  

  
div.homeHighlights li strong {
    color: #000000;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
    /*white-space: nowrap;*/
}
div.homeHighlights li p {
    letter-spacing: normal;
}

div.homeHighlights ul {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
}
  
div.homeHighlights ul li {
  display: block;
  float: left;
  width: 392px;
  margin:0px 40px 0px 0px;
}

div.homeHighlights ul li.rightTab {
	margin:0px 10px 0px 30px;
}

.twitterSearchContainter{font-family:verdana, arial, sans-serif; font-size:11px; line-height:100%;}
#maincontentPad{padding:12px 0px 0px 12px;}

#socialbar{
-moz-border-radius: 4px 4px 4px 4px;
background-color: #ebebeb;
border: 1px solid #C8C8C8;
font-size: 12px;
height: 56px;
margin: 10px 12px 4px 22px;
padding: 5px 16px 5px 12px;
width:609px;
float:left;
text-align:right;
}

#socialbar img{ margin-top:5px;}

#caseStudyTop{float:left; margin:0px 0px 16px 12px;}
.homeRightFloat{width:135px; float:right; margin:0px 12px 0px 0px;}
.homeBtmText{width:812px;}

#contactForm .textfield, #freeTrialForm .textfield {border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; border:1px solid #bebebe; width:400px; background:#e7e5e5; height:20px; padding:2px; color:#444444;}
.listfield {border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px; border:1px solid #bebebe; width:404px; background:#e7e5e5; height:26px; padding:2px; color:#444444;}
.contactFormInput{width:500px; text-align:right;}
.contactFormTitle{width:300px;}

.infoLeft ol blockquote{font-weight:bold; font-style:italic;}
.testMonHead{color:#34a5b9; font-size:14px; font-weight:bold; padding:0px 0px 4px 0px;}
#main_cornerHolder{float:left; width:886px; background:#F6F6F6; padding:8px 7px 0px 7px; border:6px solid rgba(240, 240, 240, 0.8); -moz-border-radius:8px; -webkit-border-radius:8px; margin:8px 0px 0px 6px;}
#btmInfo{text-align:right; float:left; width:956px; padding:0px 10px 0px 0px; margin:10px 0px 14px 0px;}
#cloudBG{width:100%; height:400px; position:absolute; top:180px; left:0px; background:url(../_images/top_cloud_bg.png) no-repeat top center; z-index:1;}
#mainContentHolder{float:left; width:675px; padding:0px 0px 0px 0px; margin:-8px 0px 0px 0px;}

#infoTAP, #infoGTD, #infoMAK{display:none;}
#homeDevelop, #homeEngage, #homeAttract{display:none;}

#loginBoxBut #loginMAPs {
	width:102px;
	height:24px;
	background:url(../_images/login_button.png) no-repeat;
	margin:0px;
	padding:0px;
	border:0px;
	cursor:pointer;
}